[2017-03-14 05:53] erikbarke commented on #101
What does the output before `ERROR [preprocess]: Can not load "karma-typescript", it is not registered!` look like, any other error messages etc?

Does it work if you make a clean install somewhere in your file system and run one of the example projects?

[code]

[2017-03-14 13:05] adamcogx commented on #93
It seems to work now for me (I added and then removed a throw from a test and it handled it):

14 03 2017 10:03:43.524:INFO [compiler.karma-typescript]: Compiling project using Typescript 2.2.1
14 03 2017 10:03:46.899:INFO [compiler.karma-typescript]: Compiled 88 files in 2789 ms.
14 03 2017 10:03:47.599:INFO [bundler.karma-typescript]: Bundled imports for 75 file(s) in 197 ms.
14 03 2017 10:03:47

[2017-03-14 17:37] erikbarke commented on #100
Did you manage to get something working? I've tried the Typescript demo on the readme page for https://github.com/evanw/node-source-map-support and it works, but I get no results when I try it with karma-typescript...

[2017-03-14 18:18] adamcogx commented on #79
I'm seeing a form of this error.  If karma is running in watch mode (singleRun: false) and I add a new .spec.ts file in Visual Studio, it will crash Karma with this error as the file is empty when first created.  After I restart Karma, it picks up the test and works as expected.

I'm running with the latest from master (as per your request in #93 )

[2017-03-14 18:35] adamcogx commented on #79
It's not a matter of it being empty.  I think it has to do with a new file being added to the set of files to compile.  It compiles it fine, but because its not a registered entry point (which seems to be set when karma starts) it can't find it when it goes to get it.  I've tried following the advice on this page (add an include: []) but that doesn't solve it.

[2017-03-14 21:01] erikbarke commented on #79
On my laptop new files get picked up by Karma in watch mode, but the compiler doesn't realize there's a new file, hence the `No source found for...`. Karma has a file but the compiler doesn't have a matching `sourceFile`, this is a bug.

[2017-03-16 05:12] #100 closed

[2017-03-18 04:23] #66 closed

[2017-03-18 05:19] erikbarke commented on #79
@adamcogx, I've added support for file system changes, does it work for you if you install from the master branch, `npm i github:monounity/karma-typescript`?

[2017-03-19 23:03] bmontgom commented on #84
@erikbarke sorry for resurrecting a closed post, but as it was never resolved I figured I'd just add on here. I am having the exact same problem.

<pre>
[17:40:02] Starting 'test'...
[32m19 03 2017 17:40:02.986:INFO [compiler.karma-typescript]: [39m Compiling project using Typescript 2.2.1
[32m19 03 2017 17:40:05.184:INFO [compiler.karma-typescript]: [39m Compiled 35 files in 1618 ms.
[31m19 03 20

[2017-03-20 05:06] erikbarke commented on #84
Hey @bmontgom, it looks like you both run your tests through `gulp`, does your gulp task start a Karma server programmatically?

[2017-03-20 05:12] erikbarke commented on #101
@paulcoyle, @Shavindra, @aparkerw, did you manage to get past this error? If not, is it related to this issue, https://github.com/karma-runner/karma/issues/2524?

[2017-03-20 10:56] juri33 opened #103 "Branch coverage with namespaces in AngularJS"
![namespace](https://cloud.githubusercontent.com/assets/12385112/24096929/f8f378be-0d63-11e7-9caa-5e81d390b951.JPG)

50% Branch Coverage? What is wrong?

[2017-03-20 11:52] chrisie commented on #84
@erikbarke Sorry for hijacking the question but I also have a similar problem. In my case the error is
`Unable to resolve module [process/browser] from [bundle/node-globals]`
I am starting the Karma server programmatically in my gulp task (using `require('karma').Server`) but I am getting the exact same error if I start Karma through the command line (`karma start my_config.js`) instead of using a

[2017-03-20 12:01] Belciu commented on #84
I solved the following problem by switching to `webpack`, `karma-webpack` and `awesome-typescript-loader`

[2017-03-20 18:41] erikbarke commented on #103
Hey @juri33, I'll take a look!

[2017-03-20 18:48] psyrendust commented on #84
@Belciu Can you link to an example setup using `webpack`, `karma-webpack` and `awesome-typescript-loader`?

[2017-03-20 19:03] erikbarke commented on #84
@bmontgom, @chrisie, I'm flying blind here... Could you create an "empty" version of your projects, ie without `node_modules` and with the source code replaced with just a dummy `.ts` file and post a compressed (zip, gzip, 7zip etc) version here?

I'll try to add a bit more error logging on my end aswell.

[2017-03-20 19:08] bmontgom commented on #84
@erikbarke I'll get back to you this evening after I get home from work. Thanks for helping out.

[2017-03-20 20:18] erikbarke commented on #103
I put your example in a file, `test.ts`:

[code]

 And then tried creating coverage in two ways:

1: Running `tsc`, `istanbul` and `remap-istanbul` on the command line:
[code]

2: Putting the file in the src folder of [the angularjs example project](https://github.com/monounity/karma-typescript/tree/master/examples/angularjs) and running it.

I got 100% coverage both times:
<img width="587" alt=""

[2017-03-20 20:41] erikbarke commented on #84
If you install from the master branch now, `npm i github:monounity/karma-typescript`, the error message should be a bit more meatier, I hope this will help track down this bug.

[2017-03-21 05:26] bmontgom commented on #84
@erikbarke With the master branch install I get a missing log4js dependency error. After manually installing that, it's back to the process/browser error again. This time it is slightly different as it says
<pre>[process/browser] from [bundle/node-globals]</pre>

[Full error output](http://puu.sh/uSC3T/ced22089a3.txt)

[2017-03-21 05:47] bmontgom commented on #84
[Updated errors after those last two commits.](http://puu.sh/uSDjH/728485a9ac.txt)

Looks like you may need to add an explicit dep for `base64-js`, `ieee754`, and `isarray`.

[2017-03-21 05:51] bmontgom commented on #84
Manually installing those seems to have fixed it. Thanks! I guess we shouldn't mark this as closed though until you can add those dependencies so that people can just install the one `karma-typescript` package.

[2017-03-21 06:51] erikbarke commented on #84
Thanks for all your work @bmontgom, it looks like we're on the verge of finally resolving this issue!!

This is what's so weird about this issue, `base64-js`, `ieee754`, and `isarray` are explicit dependencies in the package.json for the `buffer` browser module, but for some reason `npm` won't pull in those modules automatically on some systems... Also, `browser-resolve` seems to fail to resolve t

[2017-03-21 07:15] juri33 commented on #103
@erikbarke appriciated
Hmm, this is strange. In the same folder is a service with the same namespace
![trends2](https://cloud.githubusercontent.com/assets/12385112/24136255/33a8773e-0e0e-11e7-8102-fd7fffa8832d.JPG)

[2017-03-21 07:39] chrisie commented on #84
@erikbarke The issue in my environment was also resolved when I installed the dependencies manually. In case it helps with debugging I am running Node 4.6.0 (using NVM), NPM 2.15.9 and OSX 10.12.3.

[2017-03-21 07:55] erikbarke commented on #84
@chrisie, it seems this error is mostly affecting users on older versions of `npm`, I've added your setup to the troubleshooting section of the README.md, thanks!

[2017-03-21 13:16] adamcogx commented on #79
If you add a file, everything is fine (it re-evaluates and loads the file).  One thing that happens is if you delete a file, you get:

[code]

it doesn't crash the system (which it used to do) but it fails to re-run the tests after the delete (it loads all the files as I can see console logs of my angular stuff booting up, but fails to run the actual .spec.ts files).  It requires changing an exist

[2017-03-21 21:05] erikbarke commented on #84
@bmontgom, I've added the dependencies now! And of course, your example project runs on my laptop, no bundler errors...

[2017-03-21 21:27] erikbarke commented on #103
If I add another file that looks similar to your screenshot I don't get full coverage since I don't have a test that executes anything:

[code]
<img width="687" src="https://cloud.githubusercontent.com/assets/5539280/24171600/71fde808-0e85-11e7-8599-a9623e0225c2.png">

But I don't get that 50% branch coverage, what does your spec file look like?

[2017-03-21 22:03] erikbarke commented on #79
I can't reproduce this error, I've tried on OSX and Windows 10 with the latest from master. Could you enable debug logging in Karma and post the output here please?

[2017-03-22 03:31] bmontgom commented on #84
No problem, thanks for your work on this package. Hopefully this is resolved now.

[2017-03-22 04:59] #84 closed

[2017-03-22 07:01] juri33 commented on #103
The testfile looks like this

[code]

[2017-03-22 21:05] erikbarke commented on #103
I've managed to reproduce the 50% coverage now and I think understand what's happening:

This Typescript code:
[code]

Gets compiled to:
[code]

My guess is that `app || (app = {})` only gets executed once, which means only one of the two paths are executed, which gives you 50% remapped coverage on that namespace statement... This means that Istanbul works as intended, so I'm closing this issue no

[2017-03-22 21:05] #103 closed

[2017-03-22 21:07] erikbarke commented on #101
Closing due to inactivity.

[2017-03-22 21:07] #101 closed

[2017-03-22 21:08] #93 closed

[2017-03-23 06:52] hadrien-toma opened #104 "Installing some modules throws errors"
Hi there, I have some troubles trying to use your (**super usefull**) plugin.
### Modules throwing errors:
* "clear": "0.0.1"
* "github": "^9.1.0" & "@types/github": "0.0.0"
* "rxjs": "^5.2.0"
* "nodegit": "^0.18.0"

### Steps to reproduce:
[code]
All this works perfectly. Than I `npm install` one of the modules quoted previously, import it in `hello.component.ts` and finally get some errors when

[2017-03-23 07:16] erikbarke commented on #104
Hey @hadrien-toma, I'll take a look and get back to you!

[2017-03-23 08:50] youngmushroom opened #105 "Cannot find module 'process/browser' from '.'"
EVN: win 10 64
Node Version: 3.10.10
Description:
     Follow your steps.Then start the karma
Exception:
2```
3 03 2017 16:47:39.433:ERROR [karma]: Error: Cannot find module 'process/browser' from '.'
    at Function.module.exports [as sync] (C:\Users\admin\AppData\Roaming\npm\node_modules\karma-typescript\node_modules\resolve\lib\sync.js:33:11)
    at Function.resolve.sync (C:\Users\admin\AppData

[2017-03-23 08:55] youngmushroom commented on #105
I  saw your ["Troubleshooting"](https://www.npmjs.com/package/karma-typescript),
And I thought it's the same as  "Error: Cannot find module 'buffer/' from", but after upgrading my local modules, I still got some errors

[2017-03-23 10:42] erikbarke commented on #105
Hey @youngmushroom, this was hopefully solved in #84, does it work if you install from the master branch, `npm i github:monounity/karma-typescript`?
If you’re behind a firewall and can’t install from GitHub, you can download the branch as a zip and install manually.

[2017-03-23 12:49] juri33 commented on #103
@erikbarke Ok, that makes sense. But how can this be solved?  not to use namespaces?

[2017-03-23 15:29] erikbarke commented on #103
Yeah, I would go with modules instead of namespaces, as suggested in the last paragraph on this page: https://basarat.gitbooks.io/typescript/content/docs/project/namespaces.html

[2017-03-24 12:27] dirkluijk opened #106 "Dependencies missing when using yarn"
This is my package.json:

[code]

When using ``npm install`` everything works correct, but then I use ``yarn`` to install my dependencies, I got:

[code]

Any ideas? What must be added to support yarn as well?

[2017-03-24 12:45] dirkluijk commented on #106
Solved. See https://github.com/gotwarlost/istanbul/issues/743

I have to remove my .yarnclean file. 👍

[2017-03-24 12:45] #106 closed

[2017-03-24 15:52] francoislg commented on #101
Just for reference, was using *karma-typescript@2.1.7* and  *karma@1.5.0*, was getting this error. Upgraded to *karma-typescript@3.0.0-beta.2*, still getting the error.

Launched `rm -rf node_modules` then `npm install` again, and it started working.

[2017-03-24 22:25] erikbarke commented on #104
I get past all the compiler and bundler errors but now I get runtime errors which I suspect are due to me not fully understanding how to install `nodegit` correctly.

The following assumes you have the latest from master:
[code]

[2017-03-26 20:57] hadrien-toma commented on #104
Hey @erikbarke, thank you for your help! I still have an error with `nodegit` when not having any at runtime (using the latest from master and the advanced config you gave me). The error I have is now different:
[code]
I don't know what would be the best way for you to reproduce it. Do you have an idea? My environment is:
[code]

[2017-03-27 04:49] erikbarke commented on #104
That's the error I got as well, I tried working around it by excluding the module:

[code]

But then it tries to load `../build/Release/nodegit.node` instead, which is a binary. This is what I meant when I said don't fully understand `nodegit`, I did an `npm install nodegit` and that didn't install the debug version on my system, but the code expects it to be there. Since you're getting the same e

[2017-03-27 05:20] hadrien-toma commented on #104
Okay I see now. You are totally right : `nodegit` isn't supposed to be run in a web browser. I will switch to a a `jasmine` runner not designed for web browsers. For the moment, I unfortunately only know `Karma` and `Testem` to run unit tests, I will check if `Testem` would be convenient and otherwise... I will search for something else. I think you can close this issue as, in my point of view, yo

[2017-03-27 07:04] #104 closed

[2017-03-27 18:50] QuantumInformation opened #107 "Usage with webpack"
I first tried to run my test by using my existing webpack config with karma:

https://github.com/QuantumInformation/vanilla-typescript-component-boilerplate/blob/master/karma.conf.js

[code]

however when running karma I get:
![image](https://cloud.githubusercontent.com/assets/216566/24372659/906b0474-1326-11e7-870f-9c5202f87768.png)
any ideas how I can best integrate karma-typescript with this??

[2017-03-27 21:40] QuantumInformation commented on #107
I tried this but the console crashes:

![image](https://cloud.githubusercontent.com/assets/216566/24379281/5774497e-133e-11e7-848c-102c8edcede6.png)

[2017-03-27 21:46] erikbarke commented on #107
Hey @QuantumInformation, try this:

Install a few missing modules and the latest version of `karma-typescript` from the master branch:

[code]

Rename "src/tests/TypeScriptComponent.test.**js**" to "src/tests/TypeScriptComponent.test.**ts**" and change its content to this:

[code]

Change the content of `demo/src/index.ts` to this:

[code]

Change the content of `karma.conf.js` to this:

[code]

T

[2017-03-27 22:10] QuantumInformation commented on #107
Thanks so much @erikbarke! Works as expected, super support!

just a minor issue ;)
![image](https://cloud.githubusercontent.com/assets/216566/24380283/86df2b9e-1342-11e7-9084-11ba19930a45.png)

One other question I have is what about all my webpack configuration? Lets say I have a lot more complex stuff required for the build, can karma ignore that?

[2017-03-27 22:12] QuantumInformation commented on #107
looks like a recursive issue

[2017-03-28 02:15] cyberhck commented on #71
@erikbarke I see we have a new beta release, are there any outstanding issues which needs to be closed before you release stable one? I've been using beta for a while and it's working perfectly, haven't encountered any issues yet.

[2017-03-28 04:36] erikbarke commented on #71
@cyberhck, this is exactly what I want to hear 😄 This release is ready now and it's actually down to putting the finishing touches on the documentation, so it will probably be published within a few days!

[2017-03-28 04:47] erikbarke commented on #107
Yeah, it's probably caused by my fix in `demo/src/index.ts`, revert to your version with `import TypeScriptComponent from '../../'` and include only the `src` folder in `karma.conf.js`:

[code]

[2017-03-28 16:05] vidartf commented on #92
I'm getting a bunch of errors trying the beta, a few examples are included below:
[code]
Quite a bunch of these.

[code]

Some of these.

[code]

A lot of these.

[2017-03-28 21:44] QuantumInformation commented on #107
works good thanks!

[2017-03-28 21:44] #107 closed

[2017-03-28 23:50] QuantumInformation commented on #107
One last thing, in the test, it passes regardless of the assertion here:

https://github.com/QuantumInformation/vanilla-typescript-component-boilerplate/blob/master/src/tests/TypeScriptComponent.test.ts#L25

[2017-03-29 04:05] michaelbull commented on #105
@erikbarke I'm also hitting this even whilst using the master branch.

[code]

[2017-03-29 04:09] erikbarke commented on #92
Hey @vidartf, that´s weird, I'm only getting a lot of this error: `node_modules/@types/lodash/index.d.ts(19507,15): error TS2428: All declarations of 'WeakMap' must have identical type parameters.` and that error is tracked here: DefinitelyTyped/DefinitelyTyped#14324

I get this error on my laptop (OSX), on [Travis](https://travis-ci.org/monounity/karma-typescript) (Ubuntu), [Appveyor](https://ci.

[2017-03-29 04:32] erikbarke commented on #107
The `setTimeout` makes the test asynchronous, so the whole test finishes before the `assert` is executed, [here's the documentation for testing asynchronous code with Mocha](https://mochajs.org/#asynchronous-code).

[2017-03-29 04:37] erikbarke commented on #105
@michaelbull, does the error go away if you install `process` and `buffer ` manually, as per the [troubleshooting section in the documentation](https://github.com/monounity/karma-typescript#error-cannot-find-module-buffer-from-)?

[2017-03-29 04:48] erikbarke commented on #105
@michaelbull, disregard that, you clearly have `process` in your node_modules, otherwise the bundler would have barfed, now it's the commonjs bridge that throws an error, this looks like some kind of race conditions.

[2017-03-29 06:37] Bjeaurn opened #108 "Running the test suite randomly fails on requirements."
We've seen this in our local project, the unit tests work normally most of the time. But every now and again, an error like underneath is thrown and the tests don't run.

We've seen this on continuous integration (CircleCI) as well. Most of the time it runs fine, sometimes it randomly crashes causing failed builds that should be fine.

[code]

Is there anything that I can help to debug what's caus

[2017-03-29 07:31] erikbarke commented on #108
Hey @Bjeaurn, it sounds like the some bundled code sometimes gets executed before the `reflect-metadata` shim has loaded which can be solved in several ways, depending on how/when you load the `reflect-metadata` shim.

For example, the [Angular2 example](https://github.com/monounity/karma-typescript/tree/master/examples/angular2) loads `base.spec.ts` first of all in the Karma config `files` sectio

[2017-03-29 08:23] vidartf commented on #92
OS: Windows (10),
npm/node: 3.10.10 / 7.2.1
Typescript: 2.2.2

[2017-03-29 08:25] vidartf commented on #92
I'm also seeing a lot of duplicate errors from `node_modules/typescript/lib/lib.*.d.ts`

[2017-03-29 08:59] vidartf commented on #92
Actually, the code I have is failing `tsc` build (although with completely different errors). Let me sort that out first and see if anything changes.

[2017-03-29 09:16] vidartf commented on #92
Fixed those issues with tsc, no change in karma-typescript behavior.

[2017-03-29 09:20] vidartf commented on #92
Here is full log with debug (from a full project, not able to do a minimal example yet): https://gist.github.com/vidartf/29e7d3204207d0ac588f8cf108324025

[2017-03-29 13:40] vidartf commented on #92
Actually, all those errors are from going from karma-typescript 2.1.7 -> 3.0.0. I only saw them previously because 2.1.8 got installed. On TS 2.1 I see the same errors.

Using 2.1.7 + TS 2.2.2 simply does not discover any tests (`Error: Can't find expect.js [undefined] (required by <my filename>) at node_modules/karma-typescript/lib/commonjs.js:13`)

[2017-03-29 22:32] ehs035 commented on #80
There is a little spelling error in your config sample:   **threshhold** should be **threshold**. I took me an hour to figure it out. Revenge of cut and paste coding.  :smiley:

[2017-03-30 03:39] erikbarke commented on #80
@ehs035, fixed now, sorry 😞

[2017-03-30 03:47] erikbarke commented on #92
@vidartf, I can't reproduce this... I've tried the latest from master, the latest beta from npm on Windows 10 and I just don't get these errors when running the integration tests. Could you create a minimal repro project please?

KT2.1.7 doesn't work at all with typescript TS2.2.2, there were breaking changes in TS2.2.1.

[2017-03-30 04:06] erikbarke commented on #105
@michaelbull, is `Can't find _process [/node_modules/process/browser.js]` the actual error message that hasn't been edited for brevity or anonymized etc? That path should be from the root of your local filesystem, are you running your project from `/`?

Could you rerun with debug logging enabled in Karma, `logLevel: config.LOG_DEBUG` and post the output here please?

[2017-03-30 05:38] ehs035 commented on #80
No worries, you gave me(us) a great tool. I use 3.0.0-beta.1 in production and it works like a charm.

[2017-03-30 08:06] michaelbull commented on #105
@erikbarke no you're correct, I omitted my user+project name from that path.

I'll try it again with the debug level enabled.

[2017-03-30 11:12] michaelbull commented on #105
@erikbarke

[code]

[2017-03-30 11:25] erikbarke commented on #105
Thanks! Is the temp file `C:/Users/MICHAE~1/AppData/Local/Temp/karma-typescript-bundle-30772PHpiFlHbPRB1.js` still in your file system, could you zip it and post it here please?

[2017-03-30 11:38] michaelbull commented on #105
@erikbarke the contents of that file:

[code]

[2017-03-30 20:49] erikbarke commented on #105
@michaelbull, the resolver code thought `zoom.ts` in `/home/users/michael/git/zoom.ts/node_modules/process/browser.js` was a Typescript file, &ast;facepalm&ast;

I think I have a fix now, does it work if you try the latest from the master branch, `npm i github:monounity/karma-typescript`?

[2017-03-31 12:02] infowebster commented on #105
I faced the same problem today. The reason on my side was that our build job initially called 'npm install --production' and later - before executing the tests - 'npm install --development' was executed. But in this case some required files where missing e.g ...\karma-typescript\node_modules\browser-resolve\....

After I used development mode for the first install call too the error did not occure

[2017-03-31 12:25] QuantumInformation commented on #107
great thanks

[2017-03-31 12:57] vidartf commented on #92
@erikbarke I narrowed the problem down. It seems that karma-typescript is messing up `include`/`exclude` patterns in `tsconfig.json`. See [this commit](https://github.com/vidartf/karma-ts-test/commit/2859f06874673101ae7faaee8faa91ee6fac3e09) in a my test repo.

[2017-03-31 12:59] vidartf commented on #92
More specifically, it seems to be screwing up the directory to use as the base for those patterns (it should be the same directory as the file is in?).

[2017-03-31 13:09] vidartf commented on #92
Extra note: Event without the `include`/`exclude` patters, it is clear that files are being collected compared to the package root, and not relative to the typescript project root (the folder with the tsconfig file).

[2017-03-31 15:18] michaelbull commented on #105
@erikbarke that's fixed it perfectly. Thanks. Do you have any idea when a new release with these fixes is scheduled?

[2017-04-01 05:54] erikbarke commented on #105
@michaelbull, all the new functionality is done, I've written documentation, release notes and now that this issue seems resolved it's down to just one more issue to resolve, hopefully I'll make the milestone 3.0.0 deadline which is due tomorrow!

[2017-04-01 05:54] #105 closed

[2017-04-01 05:56] erikbarke commented on #92
@vidartf, nice detective work, this was really easy to reproduce using your example project! I'll try to come up with a fix before the 3.0.0 release tomorrow.

[2017-04-01 17:49] erikbarke commented on #92
@vidartf, I've committed a fix now, does it work if you try the latest from the master branch, `npm i github:monounity/karma-typescript`?

[2017-04-01 17:54] vidartf commented on #92
A quick test seem to work nicely 👍 3.0 also has some more things fixed compared to older versions, so I could clean up some old workarounds! :)

[2017-04-01 17:56] vidartf commented on #92
The updated readme text was also a nice touch 👍

[2017-04-01 19:08] erikbarke commented on #92
@vidartf, awesome! This means 3.0.0 is ready for release 😄

[2017-04-01 19:08] #92 closed

[2017-04-01 20:14] theBull opened #109 "karma-typescript compiler fails to find module; local installation of typescript can find it OK"
(I've posted [this question on StackOverflow](http://stackoverflow.com/questions/43161453/karma-typescript-cannot-find-module) but the problem may be too specific for that community, so I hope it's ok to also post here for some help)

I have a very small project that I am trying to set up unit tests for. The project *compiles fine when using `tsc` directly*, however, I am getting the following Typ

[2017-04-02 21:27] erikbarke commented on #109
Hey @theBull, please see my [answer on StackOverflow](http://stackoverflow.com/questions/43161453/karma-typescript-cannot-find-module)!

[2017-04-02 21:27] #109 closed

[2017-04-02 22:24] theBull commented on #109
Thank you! That fixed it.

[2017-04-05 07:01] erikbarke commented on #108
Were you able to sort this issue out?

[2017-04-05 07:01] #108 closed

[2017-04-05 08:56] samudurand opened #110 "Transforms not executed"
I am having issues with es6 and imports statements :
[code]
I looked into the docs and it mentionned plugins for es6 support (converting import to es5), so I attempted to use it but it didn't seem to make a difference. To verify if it was called I added a simple function in the transform list, that do not seem to be called either
[code]
Is there anything I need to setup to get those plugins applie

[2017-04-05 15:52] Zero-man opened #111 "Uncaught ReferenceError: exports is not defined"
Apologies for posting an issue that has been addressed before ([Issue #92](https://github.com/monounity/karma-typescript/issues/92)), but none of the solutions provided in the related tickets have solved the issue for me.

Here is my karma configuration file:
[code]
Here is the tsconfig file referenced above:
[code]
And here is the error that I encounter when attempting the run the tests:
![test2]

[2017-04-05 16:19] erikbarke commented on #110
Hey @samudurand, could you enable debug logging in Karma and post the output here please?

[code]

[2017-04-05 16:29] erikbarke commented on #111
Hey @Zero-man, how is the file `src/bindings/file.js` referenced, is it imported from a Typescript file? Is the code written with ES6 syntax?

[2017-04-05 18:04] Zero-man commented on #111
It's the compiled output of `file.ts` (which is the actual file that is project getting compiled when karma runs). I also think this is the first file compiled by tsc, and the first that gets fed into the bundler (as in, it is the first of many potential errors), but I'm not really sure of that. There's an import statement at the top of the file, but no other ES6.

Sorry for being unresponsive, I'

[2017-04-05 18:35] erikbarke commented on #111
Ok, it looks like the bundler has decided not to bundle anything automatically, it checks three things before it fires:
- The `karma-commonjs` preprocessor should not be present in the config (and isn't in your config)
- The typescript compiler option `module` should be set to `commonjs` (and you have `"target": "es5"` which means it should default to module commonjs)
- The number of `import` and/

[2017-04-05 19:29] Zero-man commented on #111
Here is the debug log:

[gvp-karma-debug.txt](https://github.com/monounity/karma-typescript/files/900579/gvp-karma-debug.txt)

I did catch this in the in the karma configuration part of the log:
`
"karmaTypescriptConfig": {
      "bundlerOptions": {
         "transforms": [
            null
         ]
      }
`

So the transforms property is null even though I have required karma-typescript-es6-tr

[2017-04-05 22:41] erikbarke commented on #111
Thanks, I was able to reproduce this error! I've committed a few fixes, does it work for you if you install from the master branch, `npm i github:monounity/karma-typescript`?
If you’re behind a firewall and can’t install from GitHub, you can download the branch as a zip and install manually.

[2017-04-05 23:08] Zero-man commented on #111
That was quick! Unfortunately, I won't have access to the project in question until the morning, and confirming the changes on a reproduced example seems unhelpful to you -- I'll update this comment as soon as possible. Thanks very much for the help.

[2017-04-06 07:19] samudurand commented on #110
Thanks for the quick answer, here is the debug result :

[code]

[2017-04-06 13:48] erikbarke commented on #110
What happens in `./karma-test-shim.js`? According to the debug log you provided, the `karma-typescript` compiler and bundler never get executed by Karma at all, is the `webpack` preprocessor interfering somehow?

Does it work if you remove the `webpack` stuff from your Karma config and let `karma-typescript` do the compiling and bundling on its own?

[2017-04-06 13:50] samudurand commented on #110
I am going to try that

[2017-04-06 14:06] samudurand commented on #110
So *karma-test-shim* contains the following (it is adding all the angular and es6 related stuff)

[code]

And it doesn't seem to make any difference when I remove all traces of the shim in the test configuration of karma
[code]

[2017-04-06 14:15] samudurand commented on #110
And just in case it could help you @erikbarke I removed all traces of webpack and shim processing which gives me that config file :

[code]

and it gives me that debug

[code]

[2017-04-06 18:29] afterbangx opened #112 "Coverage report for concurrent tasks"
I have a pretty large suite of unit tests that I just recently broke out into separate gulp tasks based on the area of the app they are testing. I'm using gulp to kick off the tests with karma. The problem I'm running into is that if I run each task individually the coverage reports are generated perfectly. However, If I run them concurrently I only get a coverage report for the last task that is

[2017-04-06 19:20] sgen commented on #84
I ran into this issue this afternoon, Its still persisting after installing `process`, `buffer`, `base64-js`, `ieee754`, and `isarray`. Even on the master branch pulled from github. Heres my (repo)[https://github.com/sgen/test-jquery.ts/tree/issue/karma-typescript-84]

[2017-04-06 19:37] erikbarke commented on #110
It seems `basePath: "."` confused Karma here, when I changed to `basePath: ".."` and made the other paths relative to that base path it worked:
(I also removed the plugins section, all plugins starting with "karma-" are loaded automatically anyway)

[code]

[code]

[2017-04-06 19:41] #111 closed

[2017-04-07 12:45] samudurand commented on #110
Thanks for your help @erikbarke I think there is some progress, I did as you suggested and moved all references to '..' and I got new errors related this time to Map and Set. So I had a look in your closed issues and the solution was to explicitly reference the tsconfig.json position, and that got rid of all errors...

But now it does not seem to run any test and it gets stuck in watch mode not do

[2017-04-07 12:51] samudurand commented on #110
By removing the preprocessor related to webpack completely (```'./config/karma-test-shim.js': ['webpack', 'sourcemap']```, I get everything to compile with less output (I realised it was packaging twice) , but still no tests run nor report of coverage

[code]

[2017-04-07 19:24] erikbarke commented on #112
Hey @afterbangx, are you using the Karma Server api from your gulp tasks, like in the [gulp example](https://github.com/monounity/karma-typescript/tree/master/examples/gulp)?
If so, are you reusing the same server instance between the tasks?

[2017-04-07 19:37] erikbarke commented on #110
This is weird, could you create a small project reproducing this and upload it here please?

[2017-04-07 19:42] afterbangx commented on #112
Yes, My setup is very similar to the example. The only exception is that I am reusing the same karma config for all tasks and I'm defining some of the config properties when launching the server. Like so,

[code]

In the snippet above frameworks, reporters, preprocessors, karmaTypeScriptConfig etc. are what you would expect them to be. And then my tasks are setup like this:

[code]

[2017-04-10 04:25] erikbarke commented on #112
I suspect this happens because of how Node.js works; every require of a module returns [the same instance](https://nodejs.org/api/modules.html#modules_caching). So when you run the gulp task  `gulp.task("test", ["test:UserList", "test:Billing"]);` both `UserList` and `Billing` are executed in the same process using the same instances of `istanbul`, `remap-istanbul`, internal Karma stuff etc, last

[2017-04-10 07:53] samudurand commented on #110
Ok, I will do that soon , thanks

[2017-04-10 08:25] samudurand commented on #110
Here it is @erikbarke , a very stripped down version of it, simply run ```npm install``` and ```npm test``` to see the file compiled but no test executed nor file generated https://github.com/samudurand/angular2-coverage

[2017-04-10 11:45] afterbangx commented on #112
Yeah, it works fine if I run them separately. I'll look into some of your suggestions. Thanks for the tips!

[2017-04-10 11:45] #112 closed

[2017-04-10 12:35] erikbarke commented on #110
Ok, try this:

1. Rename `karma-test-shim.js` to `karma-test-shim.ts` and change the content to:
[code]

2. Move `tsconfig.json` to the root of the project, so it sits side by side with `package.json`

3. Change the content of `karma.conf.js` to this:
[code]

4. Change the content of `app.component.spec.ts` to be async:
[code]

5. Delete `webpack.test.js` as it's not needed now

6. Run `npm test`

[2017-04-10 14:06] samudurand commented on #110
Looks good ! I will try that very soon

[2017-04-11 09:30] samudurand commented on #110
👍  fantastic !! it does not work yet on my complete project but that's a HUGE leap ! I should be able to fix it myself, if not I will reopen the issue, thanks !

[2017-04-11 09:30] #110 closed

[2017-04-11 18:43] soupman99 opened #113 "SyntaxError: Invalid number (19:15)"
I setup my files according to this post:
https://github.com/monounity/karma-typescript/issues/110#issuecomment-292936366

Then I get this error when I run `karma start` Any idea of what to do?

[code]

[2017-04-11 20:09] erikbarke commented on #113
Hey @soupman99, most likely the `acorn` parser barfs on octal literals like `08` or `09` in the source of an npm package required by your code, I've added some error logging for this to help you find the culprit.

To try it out, install from the development branch: `npm i github:monounity/karma-typescript#next`

[2017-04-11 21:03] soupman99 commented on #113
@erikbarke thanks!!!  I'll give it shot and let you know how it goes.

[2017-04-12 09:02] rolandjitsu opened #114 "cannot import relative paths"
I'm not sure if I'm not configuring this plugin properly or if there's an issue, but it looks like it cannot resolve a relative import:
[code]

And my `karma.config.ts`:
[code]

The TS config `tsconfig.spec.json`:
[code]

`api_module.spec.ts` is importing:
[code]

Directory tree:
[code]

Could it be me at fault?

[2017-04-12 10:19] rolandjitsu commented on #114
It seems that after I replaced:
[code]
with
[code]

I do not get that issue, but after it compiles it exits and never runs the specs.

[2017-04-12 10:28] rolandjitsu commented on #114
And here's the debug log:
[code]

[2017-04-12 11:22] rolandjitsu commented on #114
Ok, so I finally managed to get it working by using the following config file:
[code]

[2017-04-12 11:52] #114 closed

[2017-04-14 09:09] premranderia opened #115 "Ignore Type Script Errors"
I am trying to migrate our angular 1.5 project to 2. We have over 2000 spec files and after running karma-typescript on them, I get tons of typescript errors.
Is there any config where karma does not **fail** for typescript errors and just **warns** about them ?

[2017-04-14 18:07] erikbarke commented on #115
Hey @premranderia, a couple of questions:
- Does your project compile without errors with `tsc`?
- What kind of errors are you getting? Are they caused by syntax errors in your code and/or caused by missing/duplicate/outdated typings?
- Is the option `noEmitOnError` set in your `tsconfig.json` or in `karmaTypescriptConfig.compilerOptions`?

[2017-04-14 20:33] jgodi opened #116 "Only report coverage for TS files that have spec files?"
I have a few files in my library that don't need/have spec files and they are showing in my coverage report. How can I ignore these without specifically calling them out with the `exclude`?

[code]

I only want the `meow.component.ts` to appear.

[2017-04-15 07:45] premranderia commented on #115
@erikbarke
1) No there are 22K type script error in my project. As I mentioned we are in process of migration.
2) Errors are Type Error
eg: In .spec.ts we have mocked some angular providers an ts complains that you cannot use classes without **new**
class MockProvider {}
$provide.value('MockProvider', MockProvider);
3) npEmitOnError: false which is the default so I have not included in my project

[2017-04-15 07:45] #115 closed

[2017-04-15 13:40] erikbarke commented on #116
Hey @jgodi, the only way to do it (currently) is excluding files using  `karmaTypescriptConfig.coverageOptions.exclude`. Are you looking for at way to automatically exclude files that don't have a corresponding spec file?

[2017-04-15 17:30] jgodi commented on #116
Yes, that would be amazing. I can hard-code the exclusion, but it would be nice to only include coverage for files that have tests with them.

Especially in Angular, there are module files, index files, etc that only have decorators on a class. Testing these would provide no benefit, but including them reduces the numbers drastically.

[2017-04-15 21:47] erikbarke commented on #116
Ok, so something like

[code]

to exclude all `*.module.ts` and `index.ts` files wouldn't be enough to solve your issue?

If so, this would have to be an opt-in feature because it would mean that you could have 100% test coverage even with a ton of untested files, if all untested files are excluded automatically.

These are good starting points for a PR:

- [src/karma/preprocessor.ts](https://gith

[2017-04-17 03:50] typedefJorge opened #117 "software under test not getting served as ts file"
I was running my tests and i wasnt able to step through the ts of the software under test, i was only able to step through the ts of my actual test.

![image](https://cloud.githubusercontent.com/assets/5349329/25078155/83145694-22fe-11e7-932a-924208515e67.png)

heres my karma config
[code]

and my package.json
[code]
I normally wouldnt mind just stepping though js but its pretty hard to read:
[cod

[2017-04-17 04:16] erikbarke commented on #117
Hey @typedefJorge, what you're seeing here is the `Istanbul`coverage instrumentation code, you can disable this for all files when debugging:

[code]

If you find yourself debugging your tests a lot, you could set this flag dynamically using a Node.js command line argument, kind of like what's described [here](https://glebbahmutov.com/blog/debugging-karma-unit-tests/).

[2017-04-17 16:12] typedefJorge commented on #117
I think I remember being able to debug through my ts and having it generate the code coverage at the same time last release, which is why I filed the issue. I totally don't mind turning instrumentation off if I want to debug tho. Thanks for getting back so quickly!!

[2017-04-17 16:12] #117 closed

[2017-04-19 10:35] rakk commented on #111
My project is affected by this bug too.

Is there a release date for 3.0.1?

[2017-04-19 20:10] erikbarke commented on #111
Hey @rakk, 3.0.1 seems pretty stable so I could probably release within a few days!

[2017-04-20 13:22] erikbarke commented on #113
v3.0.1 with better error logging is on npm now!

[2017-04-20 13:22] #113 closed

[2017-04-20 13:23] erikbarke commented on #111
3.0.1 is on npm now!

[2017-04-28 10:18] ketamin opened #119 "Uncaught TypeError: global.process.listeners is not a function"
Hi, I didn't found anything, giving me any hint, where this Error comes from
`
Uncaught TypeError: global.process.listeners is not a function
  at node_modules/jasmine-core/lib/jasmine-core/jasmine.js:2180
`

My current config looks like this:
[code]
Is there something wrong with my configuration using jasmine, or could it be an issue?
Please feel free to request any information, I missed.

[2017-04-28 12:07] ketamin commented on #119
Sorry, there was a misconfiguration in my dev-dependencies:
I had jasmine 2.6.0 instead of jasmine-core 2.6.1 due to an older test in dev-dependencies.

[2017-04-29 05:02] erikbarke commented on #119
Hey @ketamin, glad you were able to fix it!

[2017-04-29 05:02] #119 closed

[2017-04-29 14:04] moshmage opened #120 "Can't find variable: exports"
So. This beast was testing, at least 4 months ago. Now, not so much. I haven't changed anything, I'm thinking `karma-typescript` and `typescript` itself *did* change quite a bit.

[whole repo](http://gitlab/moshmage/rxjs-socket.io)

tsconfig.json
[code]
karma-conf.js
[code]

What once was passing with that configuration, now it's returning

[code]

at every `it`

[2017-04-29 19:02] erikbarke commented on #120
Hey @moshmage, there were breaking changes in Typescript that were fixed in `karma-typescript@3.0.0`, I got your repo working by installing the latest:

[code]

And I also had to exclude two packages in the Karma config:

[code]
The tests run now, but I get a couple of Typescript errors, both when compiling with `./node_modules/.bin/tsc --project tsconfig.spec.json` and when running `karma-typescr

[2017-04-29 20:38] moshmage commented on #120
Oh! Makes sense. I did try to update Typescript but completly forgot about *karma*-stypescript \^\^'

Yeah, that's bad design on my part but fully expected :)

[2017-04-29 20:40] #120 closed

[2017-05-03 12:09] awk opened #121 "Occasional 'double compiles' and 'uncaughtException: Cannot read property 'filename' of undefined TypeError: Cannot read property 'filename' of undefined'"
With karma-typescript 3.0.0 and typescript 2.2.1 I'm seeing occasional occurrences of the following output.

[code]

My tsconfig.json is:
[code]

The karma.conf.js is unfortunately not easy to post here 8-(

Many times repeating the karma run will work fine the second time, occasionally it requires a third attempt.

It looks like karma-typescript is deciding to compile twice and then stepping on i

[2017-05-03 20:14] erikbarke commented on #121
Hey @awk, the Karma preprocessor feeds the compiler with files asynchronously and the compiler in `karma-typescript@3.0.0` collects files for 250ms before firing. I suspect this delay isn't enough in your case, so I've increased the delay to 500ms on the dev branch.

Does the problem go away if you install from the dev branch, `npm i github:monounity/karma-typescript#next`?

[2017-05-03 21:03] awk commented on #121
I pulled the branch. I had the problem one time (after 3 runs) with the delay at 500ms. I hacked my local install to make it 1000ms and ran a bunch of times (around 10 so far) and haven't had it fail yet.

Is it feasible to make this value part of the karma-typescript config in the karma.conf? The 500 files we currently build is about 1/4 of the total number of files that will probably be in this

[2017-05-03 21:20] awk commented on #121
That'd be great! If you do that with a default that matches todays value (250) then it won't interfere with anyone else and I can use it to keep my tests running (which keeps my colleagues happy :-)

[2017-05-04 06:59] erikbarke commented on #121
The compiler delay is configurable now (default 250ms):

[code]

Hope this keeps your coworkers happy 😃

[2017-05-04 07:05] rakk commented on #111
Many thanks for this release.
Cheers!

[2017-05-04 10:56] awk commented on #121
Awesome! I'll watch for 3.0.2 in the coming weeks.

[2017-05-05 19:50] francoislg commented on #98
Pretty much worked OOTB with `karma-junit-reporter` and this simple configuration:

[code]

[2017-05-06 04:13] erikbarke commented on #98
Solved by the community, awesome! Thanks @francoislg :tada:

[2017-05-06 04:13] #98 closed

[2017-05-08 19:27] zaktimson commented on #79
I am having a simillar issue. I have been trying to get unit tests going with my typescript library
[code]

Folder Layout:
[code]

karma.conf.js:
[code]

tsconfig.json
[code]

[2017-05-09 18:30] erikbarke commented on #79
Hey @zaktimson, could you run your project with `logLevel: config.LOG_DEBUG` and attach the output as a text file here please? I'd like to know why the compiler is looking for the file `decorators.spec.d.ts`.

[2017-05-09 18:34] zaktimson commented on #79
@erikbarke It seems to change, I have had it complain about the definitions file for all 4 ts files.
[debug_log.txt](https://github.com/monounity/karma-typescript/files/987671/debug_log.txt)

[2017-05-09 19:45] erikbarke commented on #79
@zaktimson, Karma does pick up your `.d.ts` files but the Typescript compiler doesn't (which it does on my laptop...). Does it work if you exclude all `.d.ts` files in the Karma config?

[code]

[2017-05-09 19:51] zaktimson commented on #79
Yes that seemed to fix it! Thank you very much. I have been trying for a week to get my unit tests going.

[2017-05-17 20:07] erikbarke commented on #121
3.0.2 is on npm now!

[2017-05-17 20:07] #121 closed

[2017-05-19 11:41] QuantumInformation commented on #93
Not if this is related, but, my test file can't find an npm module that definitely exists

![image](https://cloud.githubusercontent.com/assets/216566/26246322/7560fb50-3c90-11e7-8c47-73e63513e502.png)

[2017-05-19 13:00] erikbarke commented on #93
@QuantumInformation, the Typescript compiler resolves imports by looking for corresponding typings files, you have to install or create the missing typings for `vanilla-typescript`.

[2017-05-19 14:21] QuantumInformation commented on #93
The typings are there:
![image](https://cloud.githubusercontent.com/assets/216566/26251950/d4ea3fa8-3ca6-11e7-8708-45605e3737b4.png)

[2017-05-20 04:17] erikbarke commented on #93
@QuantumInformation, that index.ts file doesn't look like a typings file to me, it's not named .d.ts, it doesn't declare any functions, interfaces, types etc and not even Webstorm seems to recognize it or your module in your first screenshot. Have you tried using [the module template file](https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-d-ts.html)?

[2017-05-29 12:54] ValeryLosik opened #124 "Typechecking error reporting"
Hi guys!There is some question that I'd like to ask: is it possible to setup unit-tests environment to get
typechecking errors reporting? I'd like to see unit-tests failed if there was some typescript error.But currently,even if I have expression like that
`const a:boolean = 'string';`
my tests are passing successfully.And all example configuration that I have found works the same,it just swallow

[2017-05-29 14:21] erikbarke commented on #124
Hey @ValeryLosik, compilation errors should be reported on command line, are you not getting these reports? If you want the test run to stop on compilation errors, try setting `noEmitOnError` to true in either `tsconfig.json` or in `karmaTypescriptConfig.compilerOptions`!

[2017-05-30 20:43] kunal3 opened #125 "Typerror: not a function"
I'm new to frontend development and trying to set up unit testing for our Angular2 app. I followed the setup instructions and I keep getting this error -
[code]
Any ideas on what could be causing it?

[2017-05-31 03:31] erikbarke commented on #125
Hey @kunal3, could you run your project with Karma in debug mode, `logLevel: config.LOG_DEBUG`, and attach the output as a text file here please?

[2017-05-31 11:07] chrish619 opened #126 "ts.getOptionNameMap no longer marked as `export`"
Changes in Typescript 2.3.4 breaks existing Karma-Typescript functionality https://github.com/Microsoft/TypeScript/issues/16168
In [src/shared/project.ts](https://github.com/monounity/karma-typescript/blob/2a7aff62861d0f571030a3c32144610228a1feb9/src/shared/project.ts#L229)

[2017-05-31 15:05] kunal3 commented on #125
Attached
[karma_log.txt](https://github.com/monounity/karma-typescript/files/1041975/karma_log.txt)

[2017-05-31 17:17] netzzwerg commented on #78
Hello, I have nearly the same problem and I can reproduce it inside the `karma-typescript/example/mocha` example. I removed  2 lines from the `hello.component.spec.ts` like this:

    import { HelloService } from "./hello-service.interface";
    import { HelloComponent } from "./hello.component";

    class MockHelloService implements HelloService {

        public sayHello(): string {

[2017-05-31 18:40] erikbarke commented on #126
Hey @chrish619, @Nodonisko, I've committed a fix now, does it work if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-05-31 19:33] erikbarke commented on #125
I've added an extra sanity check in the dependency walker, does it work for you if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-05-31 20:16] kunal3 commented on #125
No luck. Same error. I ran
```npm i github:monounity/karma-typescript#next --save-dev```
Attached new debug log -
[karma_log_1.txt](https://github.com/monounity/karma-typescript/files/1042802/karma_log_1.txt)

[2017-05-31 20:49] erikbarke commented on #78
@netzzwerg, I made the same changes and got the same results as you, but I think the results are correct in this case: Typescript interfaces are erased when compiling, creating a more or less empty vanilla javascript file.

All files added to the Karma file list are by default considered entry points (this is configurable) and will be executed by the bundler in a `commonjs` wrapper on each test ru

[2017-05-31 21:40] erikbarke commented on #125
Ok, I've managed to repro the error by adding `require(false)` (!) to a node_modules package... I've added some error logging, could you try again with `npm i github:monounity/karma-typescript#next` please?

[2017-05-31 21:51] kunal3 commented on #125
Got more errors this time, including the first one. The commands I run are -
[code]
where clean is ```rimraf node_modules doc dist && npm cache clean```
and test is ```karma start karma.conf.js```

New errors -
[code]

Attached new debug log -
[karma_log_2.txt](https://github.com/monounity/karma-typescript/files/1043019/karma_log_2.txt)

[2017-05-31 22:27] erikbarke commented on #125
Now we're getting somewhere! You're obviously using `chart.js` but how are you importing it? If I import it using the package name it works:
`import * as chart from "chart.js"; // works`

But if I import from the dist folder it breaks, because the dist version is already bundled which wont play nice with other bundlers:
`import * as chart from "chart.js/dist/Chart.js"; // crash and burn`

Having s

[2017-06-01 00:24] kunal3 commented on #125
Ah changing from
```import 'chart.js/dist/chart';``` to ```import chart.js``` in my vendor.ts made it go away! New error -

[code]
This might actually be something to do with my project and not your repo, can you confirm?

[2017-06-01 02:46] cyberhck commented on #126
@erikbarke I can verify that dev branch is working on github. I hope to see a new release soon. When do you think we can release a patch? Considering milestone doesn't have anything left to do.

I'm desperately waiting for this one.

[2017-06-01 07:04] erikbarke commented on #126
@cyberhck, awesome 😃 If nothing else comes up I should be able to release within days!

[2017-06-01 07:07] erikbarke commented on #125
Ok, great 🎉 Regarding the `Zone` error, you need to include that lib either in the Karma file section or as imports like in [/examples/angular2/base.spec.ts](https://github.com/monounity/karma-typescript/blob/master/examples/angular2/base.spec.ts)!

[2017-06-01 09:52] netzzwerg commented on #78
Problem solved. Thank you @erikbarke! After adding the `karmaTypescriptConfig.bundlerOptions.entrypoints`  to the `karma.conf.js` config like this:
[code]
 to use the `spec.ts` test file as entry point the coverage changed from this
[code]
to this:
[code]

[2017-06-02 14:36] cleavera opened #127 "Config exclude and include should override not merge"
To quote your documentation:

My ts config's include and excludes currently look like this:
[code]
So if i set up my karma config it would look something like this:
[code]
However because the exclude and include merge rather than replace there is no way for me to get rid of the exclude `"**/*.spec.ts"`. The only way to get this behavior (as far as I can tell) is to have the separate tsconfig.

My

[2017-06-02 15:47] cary-smith commented on #126
Good to see this one is already being handled! We just ran into it.

Thanks for the great work!

[2017-06-02 15:55] nfantone commented on #126
Just stumbled upon this error.

[code]

[2017-06-02 17:08] ialex90 commented on #43
running the same error, can please anyone tell me at the end what it was? I am facing the same error, with the absolute paths, does not work, I am having karma-webpack in the configuration.

Thanks :)

[2017-06-02 20:33] mdvorscak opened #128 "Can not load "karma-typescript""
When attempting to run tests I get the warning:

This only began after 3.0.2, appears to be related to 7678cece5d32da5165dbcc771594485bfbea1966. Note: this does not prevent the tests from running, only the coverage is not run.

Here is the relevant part of the config file:
[code]

[2017-06-03 03:17] erikbarke commented on #127
Hey @cleavera, I'm thinking we should keep existing exclude/include functionality as to not introduce any breaking changes, but it would certainly be possible (and desirable) to augment these settings to make them merge/replace, I'll try to come up with something!

[2017-06-03 03:27] erikbarke commented on #43
@ialex90, does your project compile on command line with `tsc`? If it does, could you run your project with `karma-typescript`with Karma in debug mode, `logLevel: config.LOG_DEBUG`, and attach the output as a text file here please?

[2017-06-03 03:30] erikbarke commented on #128
Hey @mdvorscak, this looks like race conditions, I'll take a look!

[2017-06-03 04:01] erikbarke commented on #128
This is weird, the stack trace you posted shows lines from `karma-typecript@3.0.1`:

[code]

Calling `Configuration.initialize` on line 17 in reporter.js was removed in the 7678cec so if you're on `karma-typecript@3.0.2`, has the files in the `dist`folder been mixed up somehow...? Does the problem go away if you make  clean install of your `node_modules` folder?

[2017-06-03 09:58] ialex90 commented on #43
Ey @erikbarke I am not running tsc command, it's running by webpack.

The output file I think it's not very verbose by just in case, putting here:

[code]

If you could have a look to the repo, I'd really appreciate it :)

https://github.com/ngx-mapper/ngx-mapper

I just add the code to see the error as soon as you run the test command.

Thanks :)

[2017-06-03 15:05] erikbarke commented on #43
@ialex90, the log output you provided isn't from `karma-typescript` and I see no references to `karma-typescript` in your repo, neither in karma.conf.js nor in package.json, are you sure you are using `karma-typescript`?

[2017-06-03 15:40] ialex90 commented on #43
@erikbarke No, I am not using karma-typescript I was so focused on the problem with the paths that I didn't realize this is not the right place :( sorry about that

[2017-06-03 20:15] erikbarke commented on #125
v3.0.3 is on npm now!

[2017-06-03 20:15] #125 closed

[2017-06-03 20:17] erikbarke commented on #126
v3.0.3 is on npm now!

[2017-06-03 20:17] #126 closed

[2017-06-03 20:17] #124 closed

[2017-06-05 20:25] mdvorscak commented on #128
You're correct, after reinstalling @3.0.2 a different trace appears:

[2017-06-06 20:05] mdvorscak commented on #128
I've created a boiled down version of the environment where this issue is reproduced: https://github.com/mdvorscak/ts-karma-issue

after cloning, run npm i and npm test

[2017-06-06 20:51] erikbarke commented on #128
A repro project, thanks 😃
I got the same error running your project and it works with the fix in 67a4e61, does it work for you too if you install the latest from the dev branch, `npm i github:monounity/karma-typescript#next`?

[2017-06-06 21:41] mdvorscak commented on #128
The fix works for me, thanks for the quick turnaround!

[2017-06-07 07:38] erikbarke commented on #128
Ok, closing!

[2017-06-07 07:38] #128 closed

[2017-06-07 17:53] ChristophAtAdlos opened #129 "path-tool does not check value"
I got this error:

[code]

With this fix, it runs:

[code]

Is this in relation with this error in the "Resolved tsconfig"?

[code]

[2017-06-07 19:11] ChristophAtAdlos opened #130 "compiler does not catch empty compilerHost"
The error when running karma-typescript:
`Fatal error: Cannot read property 'getNewLine' of undefined`

In compiler.js at outputDiagnostics(), the host is an empty Object.
At setupRecompile(), the host was created with the following output from `getTsconfig().options`:

[code]
this results in an empty Object.
A specific error message would be helpfully.

In karma config, settings are `target: "ES5

[2017-06-07 21:18] erikbarke commented on #129
Hey @ChristophAtAdlos, could you attach a file with the complete debug log output here please?

[2017-06-07 21:18] erikbarke commented on #130
Hey @ChristophAtAdlos, could you attach a file with the complete debug log output here please?

[2017-06-08 18:22] bbottema opened #131 "Angular2 example doesn't work (anymore)"
I followed the exact steps listed on the Angular2 page, but this is the result when I run `npm test`:

  Cannot find module 'typescript'
08 06 2017 20:21:01.155:ERROR [preprocess]: Can not load "karma-typescript", it is not registered!
  Perhaps you are missing some plugin?
D:\workstation\karmatest\node_modules\karma-typescript\examples\angular2\node_modules\di\lib\injector.js:9
      throw error(

[2017-06-08 20:26] erikbarke commented on #131
Hey @bbottema, this is weird! Most of the examples (including the Angular2 example) run on both Travis CI and on [AppVeyor](https://ci.appveyor.com/project/monounity/karma-typescript) after every push to this repo... Also, I just tried following the instructions for running the Angular2 example on my laptop and it ran just fine.

The Karma process on your end complains about `Cannot find module 't

[2017-06-09 08:45] ChristophAtAdlos commented on #130
You will find the debug log at [Gist](https://gist.github.com/ChristophAtAdlos/201391c6c04aa1833bbe46c534881a71).

[2017-06-09 08:46] ChristophAtAdlos commented on #129
You will find the debug log at [Gist](https://gist.github.com/ChristophAtAdlos/201391c6c04aa1833bbe46c534881a71).

[2017-06-09 09:36] ChristophAtAdlos commented on #130
#19 helped to go further ([declare tsconfig.json](https://github.com/monounity/karma-typescript/issues/19#issuecomment-257444995))
Added tsconfig: "./tsconfig-testing.json" in karmaTypescriptConfig, now it compiles. A meaningful error message in case of empty files array would help to resolve faster.

Now it hangs on `Error: Cannot find module 'inherits' from '.'`.

[2017-06-09 10:50] ChristophAtAdlos commented on #130
In the meantime, I got karma-typescript running. I updated npm itself to latest version and rebuilt node_modules from scratch. Tho only thing I had to make is apply the patch from #129 .

[2017-06-09 17:01] netzzwerg opened #132 "Missing source map in remap-istanbul"
You can find my example setup here: https://github.com/netzzwerg/typescript-webpack-karma-mocha
The example is working but for the `src/helper/dom.ts` file I'm getting an error message from `remap-istanbul`:

    Error: Could not find source map for: "/typescript-webpack-karma-mocha/src/helper/dom.ts"

All other files working and also the coverage report looks good.

[2017-06-09 19:35] erikbarke commented on #129
There's an error in your Karma config, the setting `karmaTypescriptConfig.exclude` contains a {} according to the debug log you provided, which makes path-tool.ts barf.

I've added a check in the configuration class which asserts that `karmaTypescriptConfig.exclude` is an array of strings, so a broken exclude setting should never get as far as the path tool.

To try it out, you can install the lat

[2017-06-09 20:44] erikbarke commented on #132
Hey @netzzwerg, it seems Typescript doesn't resolve the `baseUrl` path when set from the Karma config, I've created a fix for this and your project runs just fine now on my laptop!

Does it work for you too if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-06-09 20:55] ChristophAtAdlos commented on #129
Monday, I can try it out.

[2017-06-09 21:07] erikbarke commented on #130
I'm gonna have to chalk this one up as a botched installation issue, I tried using the compiler options you listed and that doesn't result in an empty host. Also, the debug log you provided has a quite specific Typescript error message about not finding any files using the include paths, I'm not sure I can improve anything here.

[2017-06-09 21:07] #130 closed

[2017-06-09 23:00] netzzwerg commented on #132
Hey @erikbarke crazy how fast you are and yes you nailed it again. Thank you!

[2017-06-09 23:00] #132 closed

[2017-06-10 05:07] bbottema commented on #131
Strange indeed. Yes install is simple and successful, using Webpack 2.6.1, Node 6.10.2, npm 5.0.3.

However, my situation was resolved some other way, so if you can't reproduce, then I suggest to close it.

[2017-06-10 06:18] #131 closed

[2017-06-12 10:04] ChristophAtAdlos commented on #129
Today, I installed the development branch:
[code]

After removing the line `/\.d\.ts$/` it worked well:
[code]

Now I'm happy with karma-typescript. Thank you!

**What was the problem:**

I misunderstood the section in the doc:

I assumed patterns can be all patterns including regexp, like in tsconfig.

**Troubles with node modules**

With the new npm version, I ran into big troubles. Now I can un

[2017-06-12 11:30] erikbarke commented on #129
So the fix worked for you, great!! Regarding the npm issue, I'm afraid there really isn't much I can do, my hands are as tied as yours 😞

[2017-06-12 11:30] #129 closed

[2017-06-12 17:20] netzzwerg opened #133 "Resolve path for import .json file"
Hello, again the example is running here: https://github.com/netzzwerg/typescript-webpack-karma-mocha.

In the `src/index.ts` file there is an working .json file import:
 `import * as foo from './foo.json'; `

If I want to move the .json file to the root folder and change the import like this:  `import * as foo from '../foo.json'; ` this still works but for this  `import * as foo from 'foo.json';

[2017-06-12 18:32] megamindbrian opened #134 "Following instructions doesn't work"
webpack: Compiling...
12 06 2017 11:31:43.460:INFO [compiler.karma-typescript]: Compiling project using Typescript 2.3.4
12 06 2017 11:31:46.352:ERROR [compiler.karma-typescript]: node_modules/@angular/common/src/directives/ng_class.d.ts(48,34): error TS2304: Cannot find name 'Set'.

12 06 2017 11:31:46.353:ERROR [compiler.karma-typescript]: node_modules/@angular/compiler/src/aot/compiler.d.ts(48,

[2017-06-12 18:47] erikbarke commented on #133
As far as I can tell you're using the default module resolution, which [mimics the module resolution strategy of Node.js](https://www.typescriptlang.org/docs/handbook/module-resolution.html). This means that Typescript will look for non-relative imports such as `'foo.json'` in `node_modules`. To make this import work it has to be relative, ie begin with a dot or a slash.

The obvious exception to

[2017-06-12 18:51] erikbarke commented on #134
Hey @megamindbrian, could you run your project with Karma in debug mode, `logLevel: config.LOG_DEBUG` and attach the log output here please? It looks like some typings are missing.

[2017-06-12 19:23] megamindbrian commented on #134
Sure. I did switch to istanbul-instrumenter-loader and made some progress on a proper config, all these related project should probably list that step, it isn't clear which parts this module controls since the instructions say to add it to frameworks, add another config section to karma.conf, plus adding something entirely different to webpack...

[2017-06-12 20:54] rolandjitsu opened #135 "ts.isDeclarationFile is not a function"
I think with the latest changes in TS `v2.4`, some of the APIs are gone, hence the error:

[code]

[2017-06-13 04:13] erikbarke commented on #134
Which step should "these related projects" list? Which are "these related projects"? Karma-typescript consists of a Karma framework, preprocessor and a reporter, you need to add all of those to the Karma config, otherwise it won't work. Webpack isn't needed at all when running karma-typescript, so you can leave that out of the Karma config.

I take it that you moved on to another way of getting co

[2017-06-13 04:13] #134 closed

[2017-06-13 05:05] erikbarke commented on #135
Hey @rolandjitsu, I've committed a fix for this now, does it work for you if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-06-13 05:42] megamindbrian commented on #134
Got it working with webpack-instanbul-loader. But the line numbers are off,
probably because the source map points to the transpired version. I'll try
to get this working again with more configuration.

On Jun 12, 2017 10:36 PM, "Erik Barke" <notifications@github.com> wrote:

[2017-06-13 09:16] AdrianMarinica opened #136 "Error: Cannot find module 'base64-js' from '.'"
When running `karma`, I am getting this error:

`Fatal error: Unable to resolve module [base64-js] from [/src/main/node_modules/karma-typescript/node_modules/buffer/index.js]`

Everything seems to be configured properly, am I missing something?

[2017-06-13 11:59] erikbarke commented on #136
Hey @AdrianMarinica, has the module `base64-js` been installed properly by `npm`, does it exist in your `node_modules` folder?

[2017-06-13 12:04] ChristophAtAdlos opened #137 "integration with proxyquire"
Is there a simple way to integrate [proxyquire](https://github.com/thlorenz/proxyquire) resp. [proxyquireify](https://github.com/thlorenz/proxyquireify) with karma-typescript?

Or are there other ways to make private/protected class properties and private/protected class methods accessible for testing purposes?

[2017-06-13 12:47] erikbarke commented on #137
Have you tried casting to `any`?

[code]

[2017-06-13 14:01] ChristophAtAdlos commented on #137
no, I did not try it yet. In the meantime, I extended the class by public getters and bindings:

[code]
This works well for me, but I don't know about side effects.

[2017-06-13 15:18] rolandjitsu commented on #135
@erikbarke I'll try it later and let you know if that works.

[2017-06-13 17:12] rolandjitsu commented on #135
It works. So I guess you can publish on NPM ...

[2017-06-13 18:11] erikbarke commented on #135
Ok, closing 😃

[2017-06-13 18:11] #135 closed

[2017-06-13 18:22] erikbarke commented on #137
If it solves your problem, go for it. Personally, I wouldn't access private members in a unit test because I think it breaks encapsulation and defeats the purpose of having private and public accessors, but the [jury's still out](https://stackoverflow.com/questions/105007/should-i-test-private-methods-or-only-public-ones) on whether testing private functions is good or bad practice, you decide!

[2017-06-13 18:22] #137 closed

[2017-06-13 18:44] rolandjitsu commented on #135
Do you think it'd be possible to publish a fix for this within the day? I cannot publish some of my packages due to failing tests 😆

[2017-06-13 18:46] AdrianMarinica commented on #136
Hey @erikbarke!

I am sorry, it was my fault. I am using Bitbucket Pipelines for running my tests through karma-typescript. Locally it worked great, but when building I kept getting this error. I was not aware that Bitbucket Pipeline's default image uses a very old version of NPM, `npm: 2.14.7`. Then after I read the entire README for the project, I figured I should check that.

So there's nothing

[2017-06-13 18:46] #136 closed

[2017-06-14 03:31] erikbarke commented on #136
No worries, I'll add that to the list, what's your node version and ubuntu version?

[2017-06-14 06:13] AdrianMarinica commented on #136
Ubuntu is at `ubuntu 14.04` and node is at `node: 4.2.1`

[2017-06-14 11:56] erikbarke commented on #136
Added your version to the list, thanks for reporting 😃

[2017-06-14 12:00] erikbarke commented on #135
The milestone 3.0.4 is 100% done now so I should be able to release today or tomorrow!

[2017-06-14 19:48] erikbarke commented on #135
3.0.4 is on npm now!

[2017-06-14 19:51] rolandjitsu commented on #135
Just updated 🎉 , thanks!

[2017-06-15 14:40] QuantumInformation opened #138 ".tsconfig is not loaded by default"
Is it really necessary to have this if the karma config is in the same dir as the tsconfig?
[code]

[2017-06-15 15:11] QuantumInformation opened #139 "Cannot find source when it exists"
My config has:

https://github.com/quantumjs/solar-popup/blob/master/karma.conf.js#L8

but when running `karma start` I get `Error: No source found for /Users/nikos/WebstormProjects/solar-popup/src/tests/SolarPopup.test.ts!`

![image](https://user-images.githubusercontent.com/216566/27188080-f9d6ff2e-51e4-11e7-87a5-a54b0a0c8781.png)

[2017-06-16 04:22] erikbarke commented on #138
Hey @QuantumInformation, as a matter of fact, yes! This lets users choose whether to include the project tsconfig,json and override/add to it in the Karma config. Users may choose not to include it and configure Typescript for production and testing in completely different ways, hope this answers your question 😃

[2017-06-16 04:22] #138 closed

[2017-06-16 04:28] erikbarke commented on #139
Ok, I've cloned your project and there are two instances of `karmaTypescriptConfig` in the karma config. The last one overwrites the first one and includes the tsconfig.json where "**/*.test.ts" are excluded, which excludes `SolarPopup.test.ts`.

If you want to use the tsconfig and override what's excluded, I'm working on a solution for that, #127!

[2017-06-16 07:00] QuantumInformation commented on #139
Whoops! thx for that.

Is it still necessary to have the files prop if you have the include, I guess karma needs that?

[2017-06-16 07:48] QuantumInformation commented on #138
Yes, sounds good.

[2017-06-16 15:32] QuantumInformation commented on #139
I still have the same error:

![image](https://user-images.githubusercontent.com/216566/27233425-546c65d8-52b1-11e7-872c-db8f9fe45df4.png)

[2017-06-16 19:03] erikbarke commented on #139
Yes, the `files` property is needed by karma, without it there would be nothing to run.

Did you remove the duplicated `karmaTypescriptConfig` sections and did you remove the `karmaTypescriptConfig.tsconfig` since your tsconfig.json excludes all ".test.ts" files?

Could you post your karma config here please?

[2017-06-19 06:44] #133 closed

[2017-06-19 12:42] QuantumInformation commented on #139
Sure:

[code]

[2017-06-19 19:17] erikbarke commented on #139
Ok, your tsconfig.json excludes "**/*.test.ts", which excludes `SolarPopup.test.ts`, which causes this error.

[2017-06-20 09:48] QuantumInformation commented on #139
Ah thanks for that.

[2017-06-20 09:48] #139 closed

[2017-06-20 10:01] QuantumInformation opened #140 "Coverage gives Unexpected token errors on ts files"
I'm running `karma start` here https://github.com/quantumjs/solar-popup

But get this report:

![image](https://user-images.githubusercontent.com/216566/27327731-6a52a4fe-55a7-11e7-8d9c-93349bca4829.png)

[2017-06-20 12:36] erikbarke commented on #140
Your tests run with this conf (except for one failing test and a typing error):

tsconfig.json:

[code]

karma.conf.js:

[code]
Please note that this only fixes running your unit tests, I have no idea how this affects your build step!

[2017-06-21 15:06] alexanderby opened #141 "resolve.alias unexpected behavior"
Suppose I have a code
[code]
Then I would like to specify module path
[code]
So I expect that `import lib from 'my-lib';` will be resolved as `import lib from 'lib/index';`. But what I see in the [source code](https://github.com/monounity/karma-typescript/blob/master/src/bundler/resolve/resolver.ts#L116) is that module name is tested against full files paths. So finally I get `Cannot find module '

[2017-06-21 19:44] erikbarke commented on #141
Hey @alexanderby, could you run your project with Karma in debug mode, `logLevel: config.LOG_DEBUG` and attach the log output here please?

[2017-06-22 08:11] alexanderby commented on #141
Here is a [karma config file](https://github.com/TargetProcess/tauCharts/blob/Use_karma-typescript_for_tests/config/karma.conf.js).

### Log

D:\Dev\tauCharts2>npm run test

[11:06:14] Using gulpfile D:\Dev\tauCharts2\gulpfile.js
[11:06:14] Starting 'build-js'...
[11:06:14] Starting 'build-plugins-js'...
[11:06:14] Starting 'build-css'...
[11:06:16] Finished 'build-plugins-js' after 2.3 s
[11:06:1

[2017-06-22 20:27] erikbarke commented on #141
Ok, I got at least a proof-of-concept up and running now:

package.json:
I added the [browser field](https://github.com/defunctzombie/package-browser-field-spec) and changed "main", it was pointing at "build/development" which as far as I can tell doesn't exist:
[code]
config/karma.conf.js:
I started from scratch just to get something running, so the Travis stuff is missing, only one test file is

[2017-06-23 08:03] alexanderby commented on #141
I had a luck to fix my coverage reports by using `karma-webpack`, `ts-loader` and `karma-remap-coverage` (a wrapper for `remap-istanbul`).

I would be glad, if all these problems would be solved by one tool. But if you are creating a custom bundler, support for `bower_components` is not enough. In our case we also need to specify aliases for mocking some external libraries and also import CSS file

[2017-06-24 09:37] erikbarke commented on #141
I've added basic support for resolving bower components now, even though it's been deprecated by its author. It seems like a [controversial decision](https://github.com/bower/bower/issues/2298), so I'm thinking lots of users will continue using bower for years to come.

If you want to try it out on your end, you can install the latest from the development branch, `npm i github:monounity/karma-type

[2017-06-27 09:15] jnorkus commented on #101
Had the same issue because karma was running from global installation, but karma-typescript was only installed locally. `npm install -g karma-typescript` solved the issue for me.

[2017-06-29 08:52] SteffenAnders commented on #141
So to summarize, it is currently not possible to simply use the custom path mapping based on the `paths` option in the `tsconfig.json`?

tsconfig:
[code]

test.ts
[code]

Typescript is able to map/replace the defined custom path on compile without any problems.

But if i run karma tests using `karma-typescript` i get following errors on budle:

[code]

What do i have to configure in the `bundlerOp

[2017-06-29 09:25] SteffenAnders opened #142 "Missing line number of origin typescript file in output"
Hi,

I've just updated `karma-typescript` from `2.1.7` to `3.0.4`.

Everything works so far, but i have noticed that the line number of the origin typescript file is missing on test error output.

Output in `2.1.7`
[code]

Output in `3.0.4`
[code]

How do i get back the  line number of the origin typescipt file?

My tsconfig.json:
[code]

My karma configuration:
[code]

[2017-06-29 19:33] erikbarke commented on #142
Hey @SteffenAnders, this feature seems to have gone missing between 2.1.7 and 3.0.0. The 3.x really was a major release with massive changes to the code base, so this will bug probably take a while to hunt down 😕

[2017-06-29 19:40] erikbarke commented on #141
@SteffenAnders, path mapping should work, there's an integration test [here](https://github.com/monounity/karma-typescript/blob/master/tests/integration-latest/src/typescript/compiler-paths/compiler-paths-tester.spec.ts) that uses path mapping from [this tsconfig](https://github.com/monounity/karma-typescript/blob/master/tests/integration-latest/tsconfig.json). What does the rest of your config lo

[2017-06-29 22:26] mariposaben opened #143 "Cannot read property 'debug' of undefined"
Hello, I am receiving the following error when running karma-typescript as an npm test task:

ERROR [karma]: TypeError: Cannot read property 'debug' of undefined
    at Coverage.instrument (C:\CEBTSource\Main\CodeExamples\NetSuiteTypeScriptCI
CD\node_modules\karma-typescript\dist\istanbul\coverage.js:20:21)
    at Object.callback (C:\CEBTSource\Main\CodeExamples\NetSuiteTypeScriptCICD\n
ode_module

[2017-06-30 06:32] SteffenAnders commented on #142
Hi @erikbarke , thanks for your response.

Until this "bug" is fixed, i will stay on `2.1.7` because this information is really important for test debugging.

[2017-06-30 07:00] SteffenAnders commented on #141
Hi, i have following setup:

tsconfig.json
[code]

karma configuration
[code]
package.json
[code]

File using an import with mapped paths
[code]

Typescript compiling (with browserify/tsify) works properly, but on bundle with `karma-typescript` i get the following error:

[code]

[2017-06-30 14:02] mcrvaz commented on #57
Any news on this? I've tried quite a lot to make it work but seems to be out of my reach.
There were a lot of issues with the bundling, is there any way to disable it entirely?

[2017-06-30 14:56] wawyed opened #144 "feat: add source maps to libraries bundle"
It would be nice if the karma-typescript-bundle was mapped back to the original files. so when debugging in unit tests is easier to know where the errors come from.

[2017-06-30 16:32] afterbangx opened #145 "Compiler error: Argument of type not assignable to parameter"
I'm really not sure what caused this error to start as I wasn't the one that first noticed it. I have a coworker that was doing some work on a feature branch and she asked me to look into why her build is failing. Seems to be a `karma-typescript` compiler error but she didn't make any changes that should of caused this to suddenly start failing. The really weird part is ALL of the tests seem to be

[2017-07-01 05:23] erikbarke commented on #127
Sorry for the delay, it's now possible to choose whether to merge or replace the values of the `exclude`/`include` settings. If the property is an `array` the values will be merged (so no breaking changes!) and if the property is an `object` there's an option for merging or replacing the values:

[code]

If you want to try it out on your end, install the latest from the development branch, `npm i

[2017-07-01 05:23] #140 closed

[2017-07-01 05:24] erikbarke commented on #144
Hey @wawyed, awesome idea! This shouldn't be too hard to implement, all the pieces are already there.

[2017-07-01 05:33] erikbarke commented on #143
Hey @mariposaben, try including the source files in the karma config file section:

[code]

If that doesn't work, could you run your project with debug logging enabled in the karma config, `logLevel: config.LOG_DEBUG`, and attach the output as a file here please?

[2017-07-01 05:42] erikbarke commented on #145
Hey @afterbangx, has anything else changed in your environment? Are you locked on the Typescript version, typings versions, third party libs etc?

I'm constantly fixing these kinds of warnings on the build servers for this project because, for example, the latest version of Typescript is installed on every run and what worked in version X might break in version Y 😃

[2017-07-01 05:53] erikbarke commented on #57
Hey @mcrvaz, the bundling step will be disabled automatically if the `module`kind is set to anything else than `CommonJS` or if no `export`/`import`statements are found in the project code, but there's no option to disable it manually as of now.

I really tried making `karma-typescript` work with `Nativescript` but all my efforts amounted to zero... What have you tried so far? What does your envir

[2017-07-01 06:10] erikbarke commented on #141
@SteffenAnders, I can reproduce this error if I add `watched: false, served: true, included: false, nocache: true` to the karma config file section for the integration test for path mapping I mentioned in a comment above.

The bundler will only find files if they're included in the file section of the karma config, does it work for you if you remove those properties your karma config?
[code]

[2017-07-01 10:01] cleavera commented on #127
Thanks! I'll give it a bash on monday and let you know how i get on 😊

[2017-07-03 06:56] SteffenAnders commented on #141
@erikbarke

Thanks for your response, but i still get following error:

[code]

Maybe my tsconfig.json is not used?
[code]

[2017-07-03 16:42] mariposaben commented on #143
Erik, Thanks for the quick response. I added the source files to the file section but still get the same error. I turned debug on and the error is:

DEBUG [karma]: A browser has connected on socket AI9tKpQoGLjdspDQT_kZ
INFO [PhantomJS 2.1.1 (Windows 7)]: Connected on socket AI9tKpQoGLjdspDQT_kZ
DEBUG [bundler.karma-typescript]: Project has 64 import/require statements, code
 will be bundled
INFO [

[2017-07-03 19:57] FreshRob opened #146 "How do I use mock-require with karma-typesciprt"
I was wondering if you could help with getting mock-require to work.

I have seen it in your tests but I am unable to do it myself as I get the following error.
I am unsure as to whether if it an effect of the typescript bundle

concept of what I am trying to achieve below

**depa.ts**

 const getRunner = ()=> { return "peter"} ;`

**depb.ts**

export const getResult = ()=> { return getRunner();}

[2017-07-03 20:01] mcrvaz commented on #57
Hi @erikbarke, my test stack is Karma, Mocha, Chai and Sinon.
I'm writing my test files with TypeScript(including type definitions for Mocha, Chai and Sinon), and running the compiled code with Karma.
There is also a file setting up the test environment that exposes some variables.
[test_setup.ts](https://gist.github.com/mcrvaz/83958064e2e9b9818870344f45ac9f11)

Here is my [karma.conf.js](https://

[2017-07-03 21:16] erikbarke commented on #146
Hey @FreshRob, I'm fairly certain this won't work at all because `mock-require` is meant to be run in a real Node.js environment, it requires the core module system and even uses undocumented functions in the internal API of Node.js.

Karma-typescript runs in a web browser, emulating the Node.js environment (the same way Browserify does) by serving browser shims for Node.js builtin modules like `o

[2017-07-03 21:16] #146 closed

[2017-07-03 21:32] erikbarke commented on #143
The logger is now initialized as early as possible and I've also added more debug logging in the code surrounding this issue. To test it on your end you can install from the development branch, `npm i github:monounity/karma-typescript#next`. If it still doesn't work, attach the entire debug log out as a file here please, that gives me a ton of information like your config etc, what gets initialize

[2017-07-04 00:43] FreshRob commented on #146
Hi @erikbarke , Thank you for your words of advise. I now see the rabbit hole I got lost in, and the part of the readme I closed over.

My solution in the end was to create a proxy on your implementation of commonJs to expose the internal dependencies to all me to spy on them.

[2017-07-04 06:23] erikbarke commented on #146
Ooh, that proxy could probably be useful for other users 😃  Would you like to share the actual code, or some kind of example here?

[2017-07-04 12:04] Salasar commented on #142
@erikbarke could you fix it in the closest release? It's pretty important stuff, and I can't use `2.1.7` version as it has `ts.isDeclarationFile` issue :(

[2017-07-05 06:04] typedefJorge opened #147 "coverage launcher directory name"
Hey guys first of all, this is an amazing tool, second, im having an issue with the name of the directory generated for each launcher. Im trying to send the coverage json generated by this tool to codecov, the only problem im having is that i cant control the name of the directory generated for each launcher. For example if the tests get run for chrome it generates coverage/Chrome 59.0.3071 (Windo

[2017-07-05 07:26] erikbarke commented on #147
Hey @typedefJorge, have you tried setting the `directory` and `subdirectory` properties of the setting ` karmaTypescriptConfig.reports`?

[2017-07-05 12:53] FreshRob commented on #146
@erikbarke my solution was super dirty and hacky. The ideal solution would be to add module in commonjs to the global scope and create a function which can be called inside of the test to mock a module.

If I get time tonight I will look into how implement it if it was part of karma-typescript

Here is the hacky code

file before all tests run (Using new promise to wrap global.wrappers)

    const

[2017-07-05 15:38] chrismbarr commented on #145
Perhaps it's due to requiring `"typescript": "latest"` instead of a specific version.
https://github.com/monounity/karma-typescript/blob/master/package.json#L133

Right now 2.4.1 is latest, which now has some stricter rules around typedefs.  I think this could be fixed if this was removed or replaced with a specific known working TS version instead of just getting the latest version whenever it's

[2017-07-05 15:51] afterbangx commented on #145
Yeah, it was working on `3.0.3` with `typescript 2.3.4`. I think our problem is because we are still using the angular 1.5 type definitions. I found a similar issue to this one posted there that says it's been fixed in the 1.6.x type defs but we can't upgrade without a significant amount of refactoring.  Can we lock `3.0.3` to `typescript 2.3.4`? That way we can continue to use this package until

[2017-07-05 20:26] erikbarke commented on #145
Typescript is only a dev dependency for karma-typescript used for building the plain javascript distribution version, you can use any version of Typescript you need from 1.6.2 and up to the latest 2.x series!

I just verified this by running `npm i karma-typescript` in an empty folder and npm didn't install any Typescript version in the node_modules folder.

Also, the build servers run [integratio

[2017-07-05 21:05] afterbangx commented on #145
Hmm, that's interesting. We are on `2.3.4` but it keeps installing and compiling with `2.4.1` for some reason. I'll play with it some more tomorrow morning and let you know how it goes.

[2017-07-06 02:12] typedefJorge commented on #147
yeah once i used the subdirectory property it seems to have merged all the reports from all the launchers. Thanks for the help!!

[2017-07-06 02:12] #147 closed

[2017-07-06 16:13] afterbangx commented on #145
Hey @erikbarke I was able to get it working by locking down typescript to `2.3.4` in our project. We had it set to always install the latest minor version which is where the errors were coming from. Thanks for the tip. Closing this issue.

[2017-07-06 16:13] #145 closed

[2017-07-06 18:03] erikbarke commented on #146
PR please 😃

[2017-07-09 21:49] erikbarke commented on #142
The line numbers are back now on the development branch, `npm i github:monounity/karma-typescript#next`!

[2017-07-11 15:30] ryanarobbins opened #149 "Update reference to browserify-zlib"
Please update the reference to browserify-zlib to version 0.2.0 if possible.  They had a duplicate key in their package.json in the version currently being referenced and it causes some of my tooling to throw an error and run slowly.

Thank you.

[2017-07-12 21:31] michaelbull commented on #127
I can confirm this works. My use case is as follows: I have a `setup.ts` in a shared package deployed on a private npm repository, and I want `karma-typescript` to include this file (for example `node_modules/@organization/shared/setup.ts`).

Because the default exclude is `[ 'node_modules' ]` I was wondering why I just could not get karma-typescript to import the file - as it worked in any other

[2017-07-13 06:31] erikbarke commented on #127
@michaelbull, this is documented in the readme of the [dev branch](https://github.com/monounity/karma-typescript/blob/next/README.md) under `karmaTypescriptConfig.exclude`, let me if know if something's missing!

[2017-07-13 06:33] erikbarke commented on #149
Hey @ryanarobbins, I've updated all the browser shims, including browserify-zlib. Does it work for you if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-07-13 13:54] nadavsinai opened #150 "Unable to use lodash-es (es6-transform) together with tests (angular 4)"
Hi,
Thanks for your great work.
I'm trying to setup karma to work with your framework for my angular 4 lib.
I am using lodash-es so I added both relevant transforms.
however  when importing the following
[code]
I am getting  the following error

[code]
my karma.config is as follows, tsconfig is unused (all inlined here)
[code]

[2017-07-13 14:37] ryanarobbins commented on #149
Thank you so much!  When I use the version from the dev branch it is pulling the newer version of the offending package.  I think that should take care of it!

[2017-07-14 04:23] #149 closed

[2017-07-14 04:45] erikbarke commented on #150
Hey @nadavsinai, I added your config and the lodash import to the example project for angular2 (running angular 4.0.3) on the development branch and I don't get this error.

Could you run your project with debug logging enabled in Karma, `logLevel: config.LOG_DEBUG` and attach the output as a text file here please?

You could also try running your project using the dev branch, `npm i github:monoun

[2017-07-18 13:12] nadavsinai commented on #150
Hi @erikbarke  and thanks for your quick reply
[here's the log](https://gist.github.com/nadavsinai/d8c686b3318097aae0831fabf04a940f)

I will now try dev branch and report

[2017-07-18 13:36] nadavsinai commented on #150
interestingly the next branch has a longer stack trace over the same error
[code]

[2017-07-18 13:45] nadavsinai commented on #150
the @next branch sorts out the sourcemapping problem I had!! in the release (3.0.4) I only got sourcemaps for the specs whilst the tested components (imported from the spec) were only available in js (orignially in ts) in @next it works!! well done

[2017-07-18 18:54] erikbarke commented on #150
Is there a reason you've wrapped the calls to the transforms in inline functions? The es6 transform gets called, but it gets called hundreds of times with the same file, `/lodash-es/difference.js`. What does the wrapper function look like? Does it work if you replace the wrapper function with `require("karma-typescript-es6-transform")()`?

[2017-07-18 20:01] sjswoboda commented on #150
Similar issue:
`Uncaught TypeError: (0 , _nativeCreate2.default) is not a function`

We are using quite a few lodash-es functions. We're not wrapping the transform functions though...

Using karma-typescript#next

[2017-07-18 20:22] nadavsinai commented on #150
I looked at the log and I now see what you mean by "wrapping" the transform functions, but I actually didn't do anything fancy, if you look at the config above you can see I just (cut & paste) called the transforms with require
[code]

[2017-07-18 20:24] nadavsinai commented on #150
I see somthing interesting when debugging this. __defineProperty2.defualt is actually an object with the __esModule thing on it, which has a defualt which in turn is an object with .default property which is a module and so on recursively forever (or at least until I get bored...) I think es6-transform is transforming its own output in a loop

[2017-07-18 20:31] sjswoboda commented on #150
My bad, my lib was not correct. Works fine if I set my compilerOptions with lib as follows:

`["dom","es5","es6","scripthost"]`

[2017-07-18 20:38] nadavsinai commented on #150
mine was not far off but I tried changing to your lib setting (scripthost was missing) and it didn't change

[2017-07-18 20:39] sjswoboda commented on #150
Yes, sorry; I had commented out the unit test to be stupid simple...but once I import a module, then I get the same error...so not fixed :(

[2017-07-18 20:43] nadavsinai commented on #150
![screen shot 2017-07-18 at 23 41 53](https://user-images.githubusercontent.com/2870816/28338860-e108ad4c-6c12-11e7-82e2-3ccba11ec335.png)

[2017-07-19 09:31] Hobart2967 commented on #17
+1, need this too! No, we've got a massive amount of files and doing the list by hand is not possible.

[2017-07-19 09:52] michaelbull opened #151 "Single entry point to facilitate environment bootstrapping"
Hi, I'm trying to use `karma-typescript` for testing components in my Aurelia based project.  The ability to test components is reliant on the installation of [`jasmine-async`](https://github.com/facebook/jest/blob/master/packages/jest-jasmine2/src/jasmine_async.js) (provided by the [`jest-jasmine2`](https://github.com/facebook/jest/tree/master/packages/jest-jasmine2) package), as shown in their e

[2017-07-19 18:21] erikbarke commented on #17
@Hobart2967, maybe `karmaTypescriptConfig.bundlerOptions.entrypoints` could solve this problem?

[2017-07-19 18:25] erikbarke commented on #150
Ok, does anyone of you have a repo I could take a look at? This is obviously a bug, but I haven't been able to reproduce it 😞

[2017-07-19 18:54] erikbarke commented on #151
Hey @michaelbull, the [angular2 example project](https://github.com/monounity/karma-typescript/tree/master/examples/angular2) uses the `base.spec.ts` file to make sure polyfills are loaded globally before the tests are executed, it's the first file in the Karma config file section. Would a similar setup work for you?

[2017-07-19 21:34] michaelbull commented on #151
That's great, thanks very much!

[2017-07-19 21:34] #151 closed

[2017-07-20 07:18] nadavsinai commented on #150
OK, ive done an example repo, taking all proprietary code out and leaving the shell of our lib's setup
[https://github.com/Algotec/karma-typescript-bug-demo](https://github.com/Algotec/karma-typescript-bug-demo)
run yarn && npm run peers
then you can run npm run tdd to start karma and see the error
thanks for your help!

[2017-07-21 04:35] erikbarke commented on #150
@nadavsinai, awsome! I'll be able to try your repo out sometime next week 😃

[2017-07-21 08:04] Hobart2967 opened #152 "Add possibility to apply comments for coverage settings in transforms"
Hi,

I need a way to apply transforms to the transpiled JS.  Example:

Apply "ignore" statements for istanbul to deactivate some parts via regex (IIFE in my case). Files are not bundled.

[code]

[2017-07-22 02:44] erikbarke commented on #152
Hey @Hobart2967, would it be possible to add these comments to the Typescript source code? Or would the comments be misaligned in the transpiled code?

Otherwise, this would require exposing the transpiled and transformed code in a new "post-transform" or "pre-bundling" step.

[2017-07-24 06:40] Hobart2967 commented on #152
Yes the comments are misaligned after transpiling. That is basically the problem. I have solved it by adding the emitOutput property to the context and calling the callback with "modified = false" to avoid re-transpiling.

# Transformer.js/TS

                   emitOutput: queued.emitOutput,

                             queued.emitOutput.outputText = transpiled.outputText;

[2017-07-24 13:45] Hobart2967 commented on #98
Uhmm... Still not working for me, I dont get any outputs with this config you provided :\

+1 for support!

[2017-07-25 10:11] Hobart2967 commented on #152
Heya, added a pull request to this issue that should solve it. Checks passed.

[2017-07-25 12:05] inmchfw opened #154 "Could karma-typescript be used with systemjs enabled karma config?"
Thanks for your great work. I am using your package to get test coverage from my aurelia app, which uses systemjs. But no tests were run after the edits added as below.

[code]

[2017-07-25 14:55] inmchfw commented on #154
My console log says:

    [compiler.karma-typescript]: Compiled 50 files in 1820 ms.

But karma no longer sees `files` option

[2017-07-26 19:42] erikbarke commented on #154
Hey @inmchfw, I think you can solve this by simply removing all the systemjs related config from the karma config, and add `src/**/*.ts`, `test/**/*.ts` and `jspm_packages/**/*.js` to the `files` section of the karma config. Karma loads all test files (and the files being tested) and karma-typescript compiles and bundles the files automatically, so I don't think you need systemjs for testing your

[2017-07-27 08:57] inmchfw commented on #154
@erikbarke , yep, it makes sense. So I did what you have suggested.

[code]

Karma now tries to run it but faces this kind of error:

I understands that fetch.js is amd style module so "module" in the statement "module.export =... " is not defined. Previous system.js configuration seems to handle it magically. I wondered if you have further suggestion on this one or not.

[2017-07-27 21:17] erikbarke commented on #154
Ok, first of all: including every js file under `jspm_packages` was really bad advice on my part... 😞 You only need to include the specific stuff you want from jspm, like for instance `jspm_packages/github/github/fetch@1.1.1/fetch.js` if you want the fetch polyfill.
(Please note that in this example I'm pointing at the actual polyfill, not the jspm module wrapper.)

Also, I'm not sure you need the

[2017-07-28 05:04] erikbarke commented on #150
@nadavsinai, I was able to reproduce this bug when running your demo project!

[2017-07-28 08:27] erikbarke commented on #150
Ok, this is what I've gathered this far, it seems this error is caused by race conditions between `zone.js` and `lodash-es`, ie the order of the import statements matter.

I made a few modifications to the [typescript-latest example project](https://github.com/monounity/karma-typescript/tree/master/examples/typescript-latest) to produce this error:

[code]

Then I edited `src/hello.component.ts` t

[2017-07-28 10:22] inmchfw commented on #154
Thanks for your reply. I have now updated my karma config as you suggested

[code]
here's my jspm config from package.json:

[code]

However, it still complains about 'module' not found:

[code]

For your information, the whole app was loaded by systemjs. I guess systemjs have done some magic loading so I included it in my previous config.

I am quite sure that we are very close to get it done, be

[2017-07-28 10:38] erikbarke commented on #150
An easy way to fix this is to simply add `import "lodash-es/difference";` to the top of base.spec.ts, before anything else!

[2017-07-28 11:03] #143 closed

[2017-07-28 11:04] #142 closed

[2017-07-28 11:04] #127 closed

[2017-07-28 11:05] #141 closed

[2017-07-28 11:06] #17 closed

[2017-08-01 18:14] #150 closed

[2017-08-01 18:51] nadavsinai commented on #150
Thanks @erikbarke for your help, your workaround works perfectly, when can we expect a new release for the es6-transform?

[2017-08-01 20:43] erikbarke commented on #150
Karma-typescript-es6-transform@1.0.2 is on npm now!

[2017-08-02 06:23] erikbarke commented on #154
This is a no go... I've experimented for a few days with importing jspm modules and it would take a _major_ redesign of karma-typescript to make it work 😞

[2017-08-02 06:23] #154 closed

[2017-08-03 08:31] AnimaMundi opened #155 "Angular, Error: Can't resolve all parameters for MyService: (?)"
I can't seem to get reflection for dependency injection to work properly, I need to explicitly use the @Inject decorator to resolve this error.

`config/karma-common.conf`
[code]

`karma.conf.js`
[code]

`src/index.spec.ts`
[code]

This will not work for me:
[code]

But this will:
[code]

The first example of MyService works perfectly in the browser so it should in theory work with Karma TypeScrip

[2017-08-04 18:56] erikbarke commented on #155
Hey @AnimaMundi, are the providers set up in a bootstrap class or similar that isn't included in the test run? Does it work if you add something like this to your test?

[code]

[2017-08-07 09:50] wawyed opened #156 "Incorrect coverage for @Inject annotation in constructor parameters."
We've had this issue for a while now and I was wondering if there's was a way to fix it. Seems like for some reason when we use ```@Inject``` the branch coverage goes down and we have to add exceptions for all this files, which is less than ideal.

![image](https://user-images.githubusercontent.com/4390806/29021567-d71ebba0-7b5d-11e7-9e86-26b0f7e3cda9.png)

EDIT:

Looking at the javascript I can s

[2017-08-08 05:41] erikbarke commented on #156
This is what I've found so far:

- When compiling the the whole project, `karma-typescript` uses the same Typescript API as `tsc`, which produces an output similar to the output you got with `tsc`.

- The Transformation API (when using, for instance, `karma-typescript-angular2-transform`) recompiles the transformed Typescript files, one at a time, using `ts.transpileModule` which obviously does th

[2017-08-08 08:18] wawyed commented on #156
I see, I was baffled when I was looking at your source code for the compile since it looked really similar to gulp-typescript, I didn't think of the angular2-transform!

Thanks for looking into it :)

[2017-08-08 15:11] AnimaMundi commented on #155
Hey @erikbarke, thanks for getting back to me!

I am already providing the "parameters" in question to the testing module, so no, unfortunately it doesn't work if I try that. Since this does work when I explicitly add the @Inject decorator to the service that I'm trying to test, I don't think this has anything to do with the test module setup or providing the dependencies for that test module.

I

[2017-08-08 19:23] erikbarke commented on #155
Ok, I modified the [Angular 2 example project](https://github.com/monounity/karma-typescript/tree/master/examples/angular2) to test injecting a service:

- `src/app/my-other.ts` (new service class):
[code]
- `src/app/hello.ts`:
[code]

- `src/app/hello.spec.ts`
[code]

This works when I run `npm test`, the service gets injected, it logs 'hello' twice etc. Does this describe your scenario? Do you h

[2017-08-08 20:02] AnimaMundi commented on #155
Yeah surely enough that works for me too when I start from your example project. I don't have access to the project where I'm running into this issue until next week so I will try trace my setup configuration once I have the project again and see if I can pin down the issue! Thanks for your help so far.

[2017-08-09 06:00] erikbarke commented on #152
Solved in #153, closing.

[2017-08-09 06:00] #152 closed

[2017-08-09 07:25] erikbarke commented on #156
This is somewhat related: Microsoft/TypeScript#16872.

Is does kind of make sense though, when transpiling a single module there's no way of knowing if a referenced module is an interface that could be omitted, so the compiler includes what it finds in the file being compiled... Also, recompiling the whole project in the transforms API would be both slow as molasses and probably break a lot of exi

[2017-08-09 08:50] wawyed commented on #156
Is there any particular reason why the transform needs to modify and recompile the individual typescript files? Couldn't it change them as typescript and pass them to the full compile instead?

Also don't you find it a bit confusing that because I'm using the Angular2 transform the JavaScript output is different than my dev/dist build JavaScript, taking into account that unit tests should use the

[2017-08-09 19:02] erikbarke commented on #156
Here's the whole compiler/transforms chain:

- All files in the project are compiled using the Typescript compiler API
- The emit output for each file consists of:
    - The transpiled javascript
    - A sourcemap
    - An abstract syntax tree (AST)
- The original Typescript code and its AST are fed to the transforms chain
- The Angular2 transform traverses the AST, looking for any `templateUrl` n

[2017-08-09 19:18] wawyed commented on #156
I don't think the sourcemap would need to change since all you are doing is replacing a string with another one.

I might be oversimplifying this but, would a RegExp against the transpiled javascript not suffice for what you are trying to achieve instead of building an AST of the typescript file?

[2017-08-10 07:38] erikbarke commented on #156
Yeah, I experimented a bit with using an AST, but ended up going for the RegExp approach. It feels as "safe" as using an AST with one drawback being that the plugin will also modify templateUrls  and styleUrls inside multiline comments, but that shouldn't break anything during the test run. If it turns out this is a problem somehow and proves to be to hard to fix (regexping my way around code comm

[2017-08-10 08:25] wawyed commented on #156
Just tried your new version. All test passed and coverage looks correct hooray :D

![image](https://user-images.githubusercontent.com/4390806/29161306-a6c76df6-7dad-11e7-98f6-ca0bc17c2bcb.png)

[2017-08-10 13:50] cacothi opened #157 "Converting circular structure to JSON"
Hi Guys,

I'm trying to use karma-typescript and getting the following errorr:

`C:\Dev\Lab\my-test\node_modules\karma-typescript\dist\karma\framework.js:21
            _this.log.debug("Configuration:\n", JSON.stringify(config, _this.replacer, 3));
                                                     ^
TypeError: Converting circular structure to JSON
    at Object.stringify (native)
    at Framewo

[2017-08-10 19:47] erikbarke commented on #157
Hey @cacothi, the `@angular/cli` framework seems to have circular references and since it isn't needed when running unit tests with `karma-typescript` I simply removed it from the Karma config. I also made few other changes to get rid of Typescript compiler warnings etc and came up with this config:

[code]
Running `npm test` now runs 3 tests successfully 😃

[2017-08-10 19:48] #156 closed

[2017-08-12 22:23] nros opened #158 "`coverage-final.json` does not work with current version of `istanbul`"
The error
----------

Using the created JSON file `coverage-final.json` with current version of `istanbul` fails with exception:
[code]

cause
----------

The problem lies with utilizing an old, unmaintained version of `istanbul` with `karma-typescript` (see [unmaintained istanbul](https://github.com/gotwarlost/istanbul)). The current version of `istanbul` require an enhanced version of `coverage-

[2017-08-13 04:12] erikbarke commented on #158
Hey @nros, `karma-typescript` currently relies on [karma-coverage](https://github.com/karma-runner/karma-coverage) for coverage instrumentation but that project doesn't seem to be actively maintained anymore; an issue regarding upgrading to the maintained version of Istanbul, https://github.com/karma-runner/karma-coverage/issues/245, was filed over a year ago 😕

I guess this means I should leave `

[2017-08-13 06:09] erikbarke commented on #144
There's basic support for source maps for the bundled packages now:

[code]

To try it out you can install from the dev branch, `npm i github:monounity/karma-typescript#next` ☺️

[2017-08-13 08:09] wawyed commented on #144
You sir are on fire. I'll give it a try ^^

_Sent from my Samsung SM-G935F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 10:41] wawyed commented on #144
I just tried it, it works but it doesn't seem to keep the sourcemap comment for the original js. So if it had a map to typescript it doesn't show the original typescript code.

[2017-08-16 08:57] nros commented on #158
@erikbarke  Thanks so much! I am impressed about your fast move!

[2017-08-16 09:20] erikbarke commented on #158
I still haven't started on actually solving your problem, I only updated the coverage tool chain for the plugins to use `nyc` 😕

[2017-08-16 13:29] ChristophAtAdlos opened #159 "How to test a JavaScript file which is imported by it's d.ts?"
We have a js library inside a typescript project. For this lib, I wrote a d.ts file. The file I want test, loads the lib as follows:

`import * as lib from "../myBigJavascriptLib";`

When compiling, tsc uses the d.ts file and in the compiled code the import is transformed as follows:

`var lib = require("../html/myBigJavascriptLib.js");`

This is as expected.

But when I use karma-typescript to te

[2017-08-16 17:06] samueldweber opened #160 "Can't find dependencies"
When trying to run tests on .ts files, I get an error saying a depency was not found, and when I change the configs to run on .js files it says it cant find require, the js file is generated by tsc
[output_js_spec.txt](https://github.com/monounity/karma-typescript/files/1228962/output_js_spec.txt)
[output_ts_spec.txt](https://github.com/monounity/karma-typescript/files/1228963/output_ts_spec.txt)

[2017-08-16 20:51] erikbarke commented on #144
Source maps for the original code are now loaded (only first level) and it works for packages like `es6-promise`, `rxjs`, `zone.js`, I can step through the original source code. Packages like `@angular` and `diff` however, do *not* work, their source maps seem to be broken beyond belief 😠

[2017-08-16 21:30] erikbarke commented on #159
Hey @ChristophAtAdlos, could you post a small example of your lib and its typing here please?

[2017-08-16 21:39] erikbarke commented on #160
Hey @samueldweber, do you have a repo I could take a look at?

[2017-08-17 01:33] nros commented on #159
I ran into the same problem, and this is what I found out:

## solution

To solve this problem for now, you need to use any other loader than the `karma-typescript` bundler, eg:  [karma-commonjs](https://www.npmjs.com/package/karma-commonjs).
The proper configuration is a bit tricky. The crucial part is, that **ALL** scripts imported somewhere in your source code, need to be processed with `karma-

[2017-08-17 08:31] ChristophAtAdlos commented on #159
@erikbarke see the abstract project at [karma-ts-test-by-dts-file](https://github.com/ChristophAtAdlos/karma-ts-test-by-dts-file)

[2017-08-17 16:23] samueldweber commented on #160
Sorry, I cant do that private project, what I could give you is a print with the folders layout, I know that the dependencies exist, because I can import them into other components

[2017-08-17 21:54] erikbarke commented on #159
@ChristophAtAdlos, I've added support for automatically resolving `.d.ts` files to corresponding `.js` files, if you want to try it out you can install from the development branch, `npm i github:monounity/karma-typescript#next`.

These are the relevant changes I've made to your test repo:
Karma.conf.js:
[code]

[code]

With this config and karma-typescript#next, `karma start` runs without errors i

[2017-08-17 21:55] erikbarke commented on #159
@nros, would this solve your issue too? With a custom typing for `define`?

[2017-08-17 22:28] erikbarke commented on #160
The missing file, `caesarweb/src/views/init/onboarding/onboarding.component`, isn't included in any preprocessor pattern:

[code]

[2017-08-17 22:30] #157 closed

[2017-08-18 05:45] erikbarke commented on #97
The approach in #159 seems to actually solve this issue! Just use `allowJs` in the Typescript compiler options and pipe all `.js` and `.ts` files through karma-typescript:

[code]

This produces code coverage for both `.js` and `.ts` files ☺️

[2017-08-18 08:42] Hobart2967 commented on #152
Cool, can't wait for version 3.0.6!

[2017-08-18 12:23] adrianmarinica opened #161 "AngularJS project written in JavaScript, bundled with Webpack"
Hello!

We've been using karma-typescript for the past couple of months with an AngularJS project written in JavaScript. Things worked great when testing individual files (controllers, services, filters, directives etc.).

This week we migrated to Webpack and the tests are failing with an obvious message, `Uncaught ReferenceError: module is not defined`. I say obvious because of course the browser

[2017-08-19 04:53] erikbarke commented on #161
Hey @adrianmarinica, what does your karma config look like? Do you have a repo I could take a look at?

[2017-08-19 14:24] paulblyth opened #162 "PhantomJS: SyntaxError: Use of reserved word 'import'"
Hey @erikbarke I've been tearing my hair out a little with this one, I think I've just been a little bit of a moron so hopefully it's an easy one for you to solve.

So I am setting up a new repo, it's fairly straightforward and looks a bit like this (simplified):

[code]

tsconfig:
[code]

The base tsconfig looks like this (it resolves fine when building using `tsc`):
[code]

karma.config.js:
[cod

[2017-08-19 19:07] erikbarke commented on #162
Hey @paulblyth, does it work if you set "module" to "CommonJS" in your `compilerOptions`? If you don't want to change your tsconfig you can override the module setting in the karma-typescript config:

[code]

[2017-08-20 19:35] paulblyth commented on #162
@erikbarke so that certainly get's that test to run - but as soon as I change my test to be something meaningful and import the class I actually want to test I get:

[code]

Full log attached here:
[log.txt](https://github.com/monounity/karma-typescript/files/1237305/log.txt)

<path>/src/file.ts definitely exists because I can `cat` the same path and see the contents.

[2017-08-20 20:59] paulblyth commented on #162
I think I might have it running now. I've changed my `karma.conf.js` file as follows:

[code]

I'm a bit considered that I'm compiling my .ts files different when testing. I'm pretty new to TypeScript so can you give me a clue about why using CommonJS works?

[2017-08-21 03:49] erikbarke commented on #162
CommonJS is needed because browsers aren't ES6 ready yet, so the Typescript code has to be transpiled to something "dumber", in this case ES5 and CommonJS, which is what is used by the `karma-typescript` bundler!

[2017-08-21 09:18] ChristophAtAdlos commented on #159
Thank you, it works well for me.

[2017-08-21 10:34] adrianmarinica commented on #161
Hey @erikbarke, thanks for the response! I managed to recreate the issue in a minimalistic [repository](https://github.com/adrianmarinica/karma-typescript-angularjs-sample).

If you want to see the issue, you just have to `npm install`, `npm start` (for webpack) and `npm test`.

Looking forward to your input. Thanks!

[2017-08-21 12:57] wawyed opened #163 "feat: bundle unit tests to reduce script tags."
I don't know if this is possible or if it's something this plugin should do but when you have a significant amount of unit test the number of simultaneous request when loading the page makes the browser hang for quite a while since the browser can only handle so many request before stalling (6 I believe).

I propose that karma-typescript could bundle all of those unit test files into one file, red

[2017-08-22 04:32] #159 closed

[2017-08-22 04:55] erikbarke commented on #163
Interesting, I've been toying with this idea on and off for a while! The main reasons each file is loaded separately are:
- that's the way Karma works&trade;
- it was easier getting the source maps/remapping/coverage chain to work properly

Since upgrading to the maintained version of Istanbul (which supports source maps!) is in the pipeline (#158), mapping back to coverage might get easier, elimi

[2017-08-22 05:12] erikbarke commented on #161
This is what I've got this far:

tsconfig.json:
[code]

karma.conf.js:
[code]

This works, kind of... Angular can't find the `weather` service, even though it's been registered in `app.js`.

However, If I add
[code]
before the first `beforeEach` in the unit test, it works.

Mocking the module with `angular.mock.module("app")` seems to be connected to the module registered in `app.js`; if I change

[2017-08-22 10:46] adrianmarinica commented on #161
Thanks a lot for your suggestions! I managed to integrate them and it's working great for services.

Controllers on the other hand, not so much. I think it's the same root cause that you described in your answer above. I get a classic AngularJS error, `Error: [ng:areq] Argument 'weatherController' is not a function, got undefined`. Any idea how I could trick it to make it work?

I've pushed the co

[2017-08-22 12:35] 218664 opened #164 "Executed 0 of 0 ERROR (0.003 secs / 0 secs)"
Hello, i've got some problems with unit tests, using karma-typescript, everything seems to be ok, it doesn't even try to test my spec.file, there is log:

[code]
As you can see there is test.spec.js file
22 08 2017 14:21:27.175:DEBUG [web-server]: serving (cached): /home/amt/yep2/frontend/src/app/test.spec.js
I also put my test.spec.ts file:
[code]

And there is karma.conf.js file:

[code]
I dont

[2017-08-22 17:13] khairuddinniam opened #165 "Uncaught Error: Can't find ng2-cache/ng2-cache"
I have created a project from the example here: https://github.com/monounity/karma-typescript/tree/master/examples/angular2.

I just add single npm package: **ng2-cache**, then modify hello.ts to use ng2-cache
[code]

when I run `npm run test`, I got error:
`Uncaught Error: Can't find ng2-cache/ng2-cache [D:/TS/AD/git/karma-typescript/examples/angular2/node_modules/ng2-cache/ng2-cache.ts] (require

[2017-08-22 21:02] erikbarke commented on #165
Hey @khairuddinniam, it should work if you change the import to just `ng2-cache`:
[code]

[2017-08-22 21:21] erikbarke commented on #164
Hey @218664, do you have a repo I could take a look at?

[2017-08-22 21:23] #155 closed

[2017-08-22 21:24] erikbarke commented on #144
@wawyed, have you tested the last commit, can I close this?

[2017-08-22 21:24] #160 closed

[2017-08-22 21:25] #162 closed

[2017-08-22 21:29] #97 closed

[2017-08-22 22:19] wawyed commented on #144
I'm trying to test it but Im getting this when trying to npm install the branch

npm ERR! code 128
npm ERR! Command failed: C:\Program Files\Git\cmd\git.EXE submodule update -q --init --recursive
npm ERR! fatal: No url found for submodule path 'examples/karma-ts-test-by-dts-file' in .gitmodules
npm ERR!

[2017-08-22 22:26] AnimaMundi commented on #155
Sorry about the delay, it's obvious this is a problem with the configuration on my side anyway. I'll post again with the solution when I get a chance to fix it but so far I haven't been able to resolve it yet.

[2017-08-23 01:26] khairuddinniam commented on #165
Thanks, @erikbarke . Its works now. Can you explain to me why import `from "ng2-cache/ng2-cache"` doesn't work ?

[2017-08-23 04:53] erikbarke commented on #165
Using `"ng2-cache/ng2-cache"` resolves to a specific file in the root of the ng2-cache package while using `"ng2-cache"` lets the resolver use the "main" entry of the package.json!

[2017-08-23 04:53] #165 closed

[2017-08-23 05:17] erikbarke commented on #144
Oh great, I broke the git repo... I've cleaned up now and the build passes on the ci servers and I'm able to `npm i` the branch locally, does it work for you too now?

[2017-08-23 08:58] paulblyth commented on #162
Ah right I understand. I'd gotten confused with target and module in typescript. I think I'd become confused because I knew about the need to transpile to ES5 which I knew I was already doing, but it was the way modules were then being imported that PhantomJs couldn't handle. Gotcha!

Thanks!

P.s. sorry for not closing the issue

[2017-08-23 09:05] wawyed commented on #144
Yes, I got it working, unfortunately even though is mapping from the bundle to the original TS the line that it stops doesn't match the correct one.

[2017-08-23 16:38] roddolf opened #166 "Error when noParse module is set"
I'm getting the error `TypeError: Cannot read property 'length' of undefined` when I set a module in the `noParse` property.

This is thrown by the `acron` module and it can be resolved changing the line:
https://github.com/monounity/karma-typescript/blob/4cb83cc8c3306ebd2bb532e0b8245f2bc603d499/src/bundler/resolve/source-reader.ts#L75

From `body: undefined` to `body: []`.

[2017-08-23 18:46] jshcrowthe opened #167 "Ambient modules are not properly resolved"
Typescript supports the creation of "ambient modules" via the following syntax:

[code]

You can then reference the properties of this module via the **module name** (i.e. `testModule` in this case) without actually referencing the **file path**. This syntax causes `karma-typescript` to throw an error as it is unable to resolve the module properly.

<details>

  <summary>Log (I have replaced my ho

[2017-08-23 19:30] erikbarke commented on #166
Hey @roddolf, thanks for reporting! Do you have a stack trace I could take look at? I'm worried this might break, for instance, the [es6 transform](https://github.com/monounity/karma-typescript-es6-transform), so I just want be sure before changing this.

There's a `noParse` [in the integrations tests](https://github.com/monounity/karma-typescript/blob/master/tests/integration-latest/karma.conf.js

[2017-08-23 19:50] roddolf commented on #166
This is my config:
[code]

And this is stack trace of the error:
[code]

[2017-08-24 04:43] erikbarke commented on #144
Which package isn't working when you debug, a specific one or all? I banged my head on my desk for days before realizing that some packages simply have incorrect source maps, I verified by loading a few packages directly in Chrome:

[code]

Put this html file in the root of, for instance, the angular2 example project and open the html file in Chrome. The angular file will crash and you might have

[2017-08-24 11:08] erikbarke commented on #167
Hey @jshcrowthe, thanks for creating a demo repo, it makes solving issues so much easier ☺️
I've added basic support for ambient modules, I've you want to try it out you can install from the dev branch, `npm i github:monounity/karma-typescript#next`.

[2017-08-24 11:40] erikbarke commented on #166
I've added an extra check in the dependency walker now, does it work if you install the latest from the dev branch, `npm i github:monounity/karma-typescript#next`?

[2017-08-24 15:32] roddolf commented on #166
Yes, it works correctly with the latest version.

[2017-08-24 16:02] #166 closed

[2017-08-24 18:15] wawyed commented on #144
The package I used as a test is one of our private npm package and I can validate that the sourcemaps are correctly generated as they work fine when I run the app.

[2017-08-24 18:58] chrismbarr commented on #145
A workaround for this would bet to set `"skipLibCheck": true` in `tsconfig.json`.  This is a new compiler flag available in TS 2.4+

[2017-08-24 20:09] erikbarke commented on #161
It runs just fine now with these changes:

[code]
I simply removed the hacky "let app = module("app", []);" fixes and now it works, no warnings or errors ☺️

[2017-08-25 19:55] erikbarke commented on #144
New approach: I've modified one of the [typescript example projects](https://github.com/monounity/karma-typescript/tree/sourcemaps/examples/typescript-latest) to add the package `karma-typescript-es6-transform` (written in Typescript, transpiled with source maps) to the bundle.

Debugging this project works as expected, I can set a breakpoint in [src/hello.component.ts](https://github.com/monounit

[2017-08-28 15:09] holotrek opened #168 "Error "Unable to resolve module [uuid/v4] from [.../mockgoose.js]""
My environment:

|OS/Software|Name and Version|
|---|---|
|OS|Windows 10|
|Node|6.11.0|
|NPM|5.3.0|
|MS Typescript (global)|2.4|

Please see / try out [this repository](https://github.com/holotrek/ts-node-rest-api/tree/feature/tests) (MongoDB not required for testing).

When attempting to run tests, I receive the error:
[code]

It appears that `uuid` is a dependency of `mockgoose`, so it is instal

[2017-08-28 20:06] erikbarke commented on #168
Hey @holotrek, it seems npm 5.x still has quite a lot of bugs; just glancing through the issue tracker there are quite a few issues regarding installs where npm nests some modules even though there are no conflicts. I tried using npm 5.3.0 and I had to revert to v4.6.1 to get your project to run without breaking the bundler, I couldn't even get the nodejs builtin `require.resolve` to resolve `uuid

[2017-08-28 20:16] holotrek commented on #168
Thanks erikbarke for the quick response!

Thanks for the info. I'll try reverting to NPM 4 and how far I can get. I'm surprised that 5 still has so many bugs being in release for a few months.

In terms of the project files, I am specifically limiting the files being tested to the service and domain directories for that reason (only testing "plain" code), with the exception being the MongoDB acces

[2017-08-29 04:45] #168 closed

[2017-08-29 07:36] nicknett opened #169 "error TS2693: 'Promise' only refers to a type, but is being used as a value here."
When running karma-typescript I get the error message: `error TS2693: 'Promise' only refers to a type, but is being used as a value here.`

This can be reproduced by inserting the line:
`new Promise((resolve: any, reject: any) => setTimeout(resolve, 1));`
into line 8 on `hello.component.ts` in `/examples/typescript-latest/`

Can anyone offer an guidance please?
Nick.

[2017-08-29 10:05] nicknett commented on #169
Don't worry, fixed this by:
1. in `tsconfig.json` -> `"target": "ES2015"`
2. in `karma.conf.js` -> `karmaTypescriptConfig: { tsconfig: "./tsconfig.json" },`
Nick.

[2017-08-29 10:05] #169 closed

[2017-08-29 10:06] erikbarke commented on #169
Hey @nicknett, try adding `es2015` to the lib array in the compiler options of tsconfig.json:

[code]

[2017-08-29 10:08] erikbarke commented on #169
Haha, you were like 15 seconds faster than me 😄

[2017-08-29 11:49] nicknett commented on #169
Yes thanks, step 2 was important in my config, only fixed it thanks to your great docs and examples! Cheers,
Nick

[2017-08-29 15:13] holotrek commented on #168
An interesting note on this. If I deleted the package-lock.json and node_modules directory and then did a fresh install with NPM 5, it also seemed to work fine. Now I'm not sure what to think, other than maybe having a lock file is not the greatest idea, or that deleting node_modules/package-lock.json and trying again will become one of my standard debugging steps.

[2017-08-30 05:00] #164 closed

[2017-08-30 14:44] adrianmarinica commented on #161
Hey @erikbarke, I finally got around to trying out your solution, sorry for the delay. Everything works perfectly now in our production app, thanks a lot for the huge support!

If you want to, feel free to reference the repository I created for this issue as a sample for anybody that wants to try out karma-typescript with AngularJS and Webpack. I plan on adding a readme to it, so it will be easier

[2017-08-30 14:44] #161 closed

[2017-08-30 17:21] AnimaMundi commented on #155
Dammit, I was missing `"emitDecoratorMetadata"` from my tsconfig.test.json...

So I guess I was right that reflection was broken 😆 just never thought to check my tsconfig for the problem. Thanks for your patience with this and sorry for wasting your time investigating such a simple oversight!

[2017-08-30 18:42] erikbarke commented on #161
Great idea, I've added your sample to the readme!

[2017-08-30 21:09] samnau opened #170 "Examples show wrong name for hello-service.interface"
Just wanted to mention that the files in your repo say `export interface HelloService` but your documentation examples reference `IHelloService`.

[2017-08-31 07:06] erikbarke commented on #170
Hey @samnau, thanks!

[2017-08-31 07:06] #170 closed

[2017-08-31 07:09] erikbarke commented on #167
Bump, does the new support for ambient modules solve your issue?

[2017-08-31 07:13] erikbarke commented on #144
@trwolfe13 @Salasar @patrickarlt, I would love some testing outside my environment for this, could you guys help me out please?

[2017-08-31 07:46] ChristophAtAdlos commented on #159
Do you have a plan when 3.0.6 will be released?

[2017-08-31 08:08] erikbarke commented on #159
In few days hopefully, there are still a couple of issues that need to be tested/confirmed before publishing [3.0.6](https://github.com/monounity/karma-typescript/milestone/20)!

[2017-08-31 09:01] ChristophAtAdlos commented on #159
Thank you!

[2017-08-31 15:41] samnau commented on #170
No problem. Thanks for the helpful example project.

[2017-08-31 20:59] jshcrowthe commented on #167
@erikbarke yes it does! Sorry I forgot to respond. The new support solves my issue.

[2017-09-01 03:36] #167 closed

[2017-09-01 13:18] ldrick opened #171 "Is it possible to use dynamic imports?"
Hi, I'd like to use dynamic imports with TypeScript instead of require.ensure from webpack.
So basicly I have a module exporting an async method within a main.ts

[code]

And I tested, it's not the async or await keywords, which lead to the error, its the dynamic import.
Does someone know, how to solve this, I tried already adding these two:

https://github.com/airbnb/babel-plugin-dynamic-import-n

[2017-09-03 03:45] erikbarke commented on #171
Hey @ldrick, the Typescript compiler downgrades the ES2017 keywords `async` and `await` to ES5  as expected, but it leaves the `import` keyword intact which makes other third party modules crash and burn... I got this to work by replacing `import` with `require`, would that solve your issue?

[2017-09-05 10:13] antonmata opened #173 "feat: please support the "extends" setting in tsconfig.json (configuration inheritance)"
It would be nice if the `extends` property of `tsconfig.json` was supported.

I found out the hard way that it wasn't supported. I was getting an `Uppercase/lowercase mismatch` error. I found out that it was because my `tsconfig.json` was using the `extends` property to inherit from a common config file where the `baseUrl` was defined.

[2017-09-05 13:38] erikbarke commented on #173
Hey @antonmata, I modified the [typescript-latest example project](url) like this:

Karma config:

[code]

tsconfig.json:

[code]

base-tsconfig.json (this is a new file I created for this test):
[code]

Does this describe your scenario? It works when I run `npm test`, I can change settings in `base-tsconfig.json` to change the compiler behavior.

Are you on an OS with a case sensitive file system

[2017-09-05 13:51] antonmata commented on #173
The key item for me was the `baseUrl`. To best describe my scenario, you need to add the `baseUrl` in `base-tsconfig.json` and also define appropriate `resolve.modules` in webpack:

[code]

I kind of figured out that it could be a path issue because I was getting a `Error: Uppercase/lowercase mismatch` message from an error thrown in `dependency-walker.ts`.

[2017-09-05 13:56] antonmata commented on #173
I forgot to mention that I was able to workaround the issue by explicitly defining the `baseUrl` in the "child" `tsconfig.json` that was referenced by karma-typescript, essentially bypassing the inheritance.

[2017-09-05 15:43] wawyed commented on #144
Hi, sorry about the delay in the reply. I have tried the branch and I'm getting mixed results. Some ts files are getting remapped but others just show an empty file while trying to load the ts file.

[2017-09-05 18:41] erikbarke commented on #173
I was able reproduce the error and this is probably a Typescript bug, https://github.com/Microsoft/TypeScript/issues/17617.

The compiler seems to lowercase module names if the `baseUrl` property is set in a tsconfig that is inherited, just like what you're describing.

This triggers the case sensitivity validators in both karma-typescript and the Typescript compiler, if you're using the `forceCon

[2017-09-05 18:59] erikbarke commented on #144
Ok, you should get the same results for your project with the `next` and the `sourcemaps` branches, they both contain the same source map logic.

Does the [typescript-latest example project](https://github.com/monounity/karma-typescript/tree/sourcemaps/examples/typescript-latest) on the `sourcemaps` branch work, are you able to set a breakpoint in [src/hello.component.ts](https://github.com/monoun

[2017-09-05 19:05] antonmata commented on #173
Ah ok, that explains a lot. I was so confused that the error message was showing both paths, but they look alike except for just the casing. I really did not know what or how to fix that, hence just went for the workaround. Thanks for looking into this.

[2017-09-05 19:07] #173 closed

[2017-09-05 20:53] wawyed commented on #144
Yes, that seems to work correctly. One difference that I didn't mention, my compiled code uses inlineSources in the sourceMap so it doesn't point to a different file, contains the original code inside the sourcemap file.

[2017-09-06 00:09] mitchhentges opened #174 "Static text file containing javascript is evaluated in require()"
Thanks for making this pre-processor for Karma, it's pretty :100:

I'm currently using `2.1.7`, and I have a test that mocks a network request for a javascript file. This works well: I require the file -  `require('mockPage.txt')` - then I use the resulting string to represent the static file served over HTTP.

However, in version `3.0.1` of `karma-typescript`, commit [`1c8f8ed1fd0f7e15ca3995147d8

[2017-09-06 04:58] erikbarke commented on #144
Great, so it's not an os/environment issue then... Which leaves us with what? If you look at [source-map.ts](https://github.com/monounity/karma-typescript/blob/next/src/bundler/source-map.ts), there's nothing special going on in my code; file content is fed to `combine-source-map` which performs the actual magic.

I have yet to find a correct source map that doesn't work in karma-typescript, apart

[2017-09-06 05:04] erikbarke commented on #174
Hey @mitchhentges, the evaluation didn't seem necessary anymore and all tests pass without it so I have simply removed it! You can try it out by installing from the development branch, `npm i github:monounity/karma-typescript#next` ☺️

[2017-09-06 05:35] mitchhentges commented on #174
Awesome! I'll test it in an hour or two :)

On Sep 5, 2017 10:04 PM, "Erik Barke" <notifications@github.com> wrote:

[2017-09-06 05:37] mitchhentges commented on #174
Hey, by the way, should this be a breaking change, and the next version be 3.1.0? It will cause a user-visible change in functionality, so as 3.0.6 it might break some builds :)

[2017-09-06 12:48] ldrick commented on #171
Hi @erikbarke that's, what I expected. So my first intention was to use the babel transform, like in my previous post, but it seems not working, the error stays exactly the same. Can you please share your idea, how to replace `import` with `require`? Thank you

[2017-09-06 23:50] mitchhentges commented on #174
Gave it a shot earlier today, and removing the unnecessary evaluation definitely solved this issue, thanks! Looking forward to the release 🚤

[2017-09-07 08:30] wawyed commented on #144
I'm going to try to reproduce it in your example.

[2017-09-07 15:38] erikbarke commented on #171
I did something like this:

[code]

[2017-09-07 18:11] erikbarke commented on #174
Great!

Regarding the breaking change: it's not a documented feature, the commit message doesn't mention any issue and it's not even mentioned in the release notes... This "feature" is most likely something I thought was Really Awesome&trade; back when I was creating the Transforms API but it doesn't really make sense, as you pointed out.

I'm thinking that new behavior should be the default from

[2017-09-07 18:11] #174 closed

[2017-09-07 18:28] mitchhentges commented on #174
Sweet, thanks! Personally, for the sake of deferring work, I'd personally wait to implement any functionality to support evaluate-txt-as-JavaScript until someone actually has that use case.

Either way, thanks!

[2017-09-08 01:43] roddolf opened #175 "Support browser package alias"
Im having problems with cross platform libraries, where they require specific Node.js modules.
But alias are declared in the `browser` property of the `package.json` of these libraries.

Should't the bundler use this alias?

[2017-09-08 09:15] erikbarke commented on #175
Hey @roddolf, the karma-typescript bundler uses [browser-resolve](https://github.com/defunctzombie/node-browser-resolve) which supports the `browser` field in `package.json`, so this should work out of the box. Which specific packages aren't working for you, how can I reproduce this error?

[2017-09-08 14:58] roddolf commented on #175
I'm using `jsonld` and `sockjs-client`.
For example, `jsonld` lists:
[code]

But the compiling throws `Error: Cannot find module 'jsonld-request' from '.'`

[2017-09-08 16:54] JeremyDoss opened #176 "Support For Non-Inline Spec File Source Maps"
I am trying to get karma-typescript to generate and load separate source map files for my unit tests (written in typescript). I have it working fine, but it only appears to be able to generate inline source maps appended at the bottom of my transpiled .spec.js files. I am trying to do this to get breakpoints working with vscode in my spec.ts files with headless chrome debugging.

here is my config

[2017-09-08 19:14] mitchhentges opened #177 "CALL_AND_RETRY_LAST Allocation failed - Javascript heap out of memory"
In `3.0.0` and greater, `karma-typescript` uses a lot more memory. I've narrowed down the exact commit that caused this problem: [Back to async bundler for 2.1.8](https://github.com/monounity/karma-typescript/commit/01cb6bb250022cee7d7fae388fa316ee39c3b9aa).
My theory is that, since it's now async, there's a lot more open files being manipulated at once, therefore ballooning memory usage.

Last li

[2017-09-10 11:34] ldrick commented on #171
@erikbarke that's nearly my starting point.

Currently I am using require.ensure, but its not possible to provide stable Typecheckings with that way.
With dynamic imports becoming more and more common, due to TypeScript supports it native and they are stage 3 [Proposal Dynamic Import](https://github.com/tc39/proposal-dynamic-import) may this could be an Feature-Request for this project?

[2017-09-11 04:10] erikbarke commented on #171
The `import` statement not getting transpiled is a [Typescript bug](https://github.com/Microsoft/TypeScript/issues/17371), does it work if you use the latest version of Typescript?

[2017-09-11 04:28] erikbarke commented on #177
Hey @mitchhentges, the bundler also keeps the sources for all packages in memory to minimize disk i/o, writing to the bundle file only once, maybe this contributes to the ram usage. Would it be possible for you to run your project through a profiler to pinpoint the trouble areas?

[2017-09-11 06:29] erikbarke commented on #177
Also, this looks like it could be an infinite loop somewhere. The bundler has several caches to prevent infinite loops and reading the same file from disk more than once, but maybe you've hit a corner case.

Do you have a repo I could take look at? And what are your dev machine specs, ram cpu etc?

[2017-09-11 07:51] erikbarke commented on #175
I've committed a fix now, does it work for you if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-09-11 10:01] wawyed commented on #144
Okay so I have created an example that you can reproduce :)

You can find it here:

https://github.com/wawyed/karma-typescript/tree/sourcemaps

Hope it helps!

[2017-09-11 17:10] mitchhentges commented on #177
Unfortunately, when I run my project through a profiler, it's more prone to crashing. I'll see what information I get get from it later this week.
I can't share the repo, it's private for work  :(
Specs:

[code]

[2017-09-12 17:32] erikbarke commented on #144
Awesome!! Your source maps have sources that look like this:

[code]

The `webpack:///`prefix apparently makes `combine-source-map` create non-working source maps, so I created a fix that simply removes the prefix, you can try it out on the `next`branch, `npm i github:monounity/karma-typescript#next` :rocket:

[2017-09-12 18:20] wawyed commented on #144
Hello, good news is that the files are not blank anymore :D. Bad news... the lines seem offset by a few lines.

[2017-09-12 18:27] wawyed commented on #144
I found this tool to check sourcemaps visually. Maybe it can help you find out what's wrong:

http://sokra.github.io/source-map-visualization/

[2017-09-12 21:39] erikbarke commented on #144
Darn.

I loaded *@ mhrwebux/common/index.js* and its source map from your tar ball into the visualization tool you linked and inspected row 127-129 of *index.js*:

[code]
Row 128 (`return window;`) points back to row 4 in *webpack:///src/services/MhrWindow/MhrWindow.service.ts* [4->**4**:2] [10->**4**:8] [11->**4**:9] [17->**4**:15] [18->**4**:16].

I then launched the typescript-latest project fr

[2017-09-12 21:53] wawyed commented on #144
If I try to put a breakpoint on the getter function it adds it to the class definition, have a look at this:

![image](https://user-images.githubusercontent.com/4390806/30350043-10a9d4a6-980d-11e7-81e7-3aee2b297d9d.png)

[2017-09-13 05:07] erikbarke commented on #144
Aah, windows line breaks, the gift from the [dot-matrix printers era](https://stackoverflow.com/questions/6521685/why-does-windows-use-cr-lf) that keeps on giving ☺️

If I hardcode `\n` as line breaks in the bundler instead of `os.EOL` (The Right Way&trade;) the source maps seem to work correctly also on windows. This is clearly a CRLF issue, I'll see if I can come up something less hacky.

[2017-09-13 08:12] wawyed commented on #144
I was going to say it might be something related to line endings since you didn't seem to have issues.

Could you do something like?
[code]

[2017-09-13 18:34] erikbarke commented on #144
This is exactly what `os.EOL` does, it returns the correct newline for each platform, ie `\r\n` on windows. What I did was using a hardcoded `\n` in the bundler regardless of platform, which made the source maps work correctly, go figure 😕

[2017-09-13 20:14] wawyed commented on #144
hmm, from what I can see the sourcemap gets converted into a base64 string that gets read by chrome, so maybe chrome wants linux endings always?

[2017-09-13 20:24] WilliamBowen opened #178 "Unable to resolve npm linked module"
I'm not sure if this is a karma or a karma-typescript problem. I'm trying to write tests for a project that I have been assigned to.  The project has code that imports modules from a repo that is npm linked to the project. When the project was built it didn't have a test environment, so I was asked to add one. I've managed to get tests running as long as they don't import anything from the npm lin

[2017-09-14 04:58] erikbarke commented on #144
I'm using the fix the hardcoded unix line breaks, it doesn't seem to affect anything else but the source maps, the fix is on the next branch, `npm i github:monounity/karma-typescript#next`!

[2017-09-14 12:13] gempain opened #179 "Integrating `proxywire`"
Hello,

I am trying to use `proxywire` or `rewire` alongside this lib, with no success so far.

With `proxywire`, I get

[code]
when I import it.

With `rewire`, I get

[code]

which is caused by `karma-typescript` trying to resolve `rewire` dependencies for bundling.

I am pretty sure the problem comes from the fact that those libraries are not build to be bundled. The `rewire` documentation even

[2017-09-14 12:45] wawyed commented on #144
So, that fixes the issue :)... unfortunately, it seems that there is some issue with the sourcemaps of the src or test files. I don't seem to be able to set a breakpoint in some statements, specially if I have new lines in between.

The crossed lines are the ones I'm not able to add a breakpoint.

![image](https://user-images.githubusercontent.com/4390806/30430278-a30b3114-9952-11e7-9b46-5327c0977

[2017-09-14 14:43] erikbarke commented on #144
This must be a Chrome issue, I get the same behavior on windows with and without the latest line break fix. Also, the new source maps logic only affects the main bundle, the project ts files still use the inline source maps generated by Typescript.

Anyway, I managed to set breakpoints in Chrome on windows by setting them in the compiled file and the breakpoints end on the correct lines, so it's a

[2017-09-15 11:54] dhilgarth opened #180 "Missing reporter in Coverage Recipe"
For [this recipe](https://github.com/monounity/karma-typescript/blob/master/cookbook.md#code-and-tests-in-separate-directories) to work, `"coverage"` needs to be added to the `reporters` array.

[2017-09-15 18:38] gempain opened #181 "Exclude folder from coverage report"
Hello,

My coverage report contains files from my `test/` folder. I tried excluding the pattern `/test\/.*/g` in the `karmaTypescriptConfig.coverageOptions.exclude` option, but it does not help. I have the feeling that this option only matches the given regex patterns against the file name only, not the actual file path, hence why not working.

Since this package uses `karma-coverage`, and this is

[2017-09-18 07:14] erikbarke commented on #144
Ok, case closed then ☺️

[2017-09-18 07:14] #144 closed

[2017-09-18 08:01] wawyed commented on #144
Releasing the new version soon? :)

[2017-09-18 15:35] dhilgarth opened #182 "Spec Helper not executed if it is a TypeScript file"
The spec helpers are not executed if they are TypeScript files.

Please see [this repo](https://github.com/dhilgarth/mjt) for a self-contained example.

Executing `npm test` results in the output `!!!helper executed!!!` and both tests execute without failure.

However, executing `karma start --single-run` will not print the message and the second test fails.

Please also see [this chat](https://ch

[2017-09-18 16:20] dhilgarth commented on #182
Looks like it was a mis-configuration after all:

The bundler options in `karmaTypescriptConfig` excluded the helper.

[2017-09-18 16:20] #182 closed

[2017-09-18 19:05] erikbarke commented on #144
3.0.6 is on npm now 🚀

[2017-09-18 19:06] erikbarke commented on #159
3.0.6 is on npm now 🚀

[2017-09-19 08:08] #171 closed

[2017-09-19 08:30] erikbarke commented on #180
Hey, thanks ☺️

[2017-09-19 08:30] #180 closed

[2017-09-19 08:34] erikbarke commented on #181
Do you a repo I could take a look at?

[2017-09-19 08:34] erikbarke commented on #179
Do you a repo I could take a look at?

[2017-09-19 08:34] erikbarke commented on #178
Do you a repo I could take a look at?

[2017-09-19 08:40] erikbarke commented on #176
Hey, sorry for the delay, I've been busy getting [3.0.6](https://github.com/monounity/karma-typescript/releases/tag/v3.0.6) ready and published ☺️

The inline source maps are an integral part of this package, but I'll take a look to see if I can come up with something!

[2017-09-19 08:41] gempain commented on #181
Hello,

Actually, I just found my error. My regex worked on OS X but not on Windows, because Windows has a different directory separator. Somehow classic mistake, but tricky to find !

You can close this issue :)

All the best;

[2017-09-19 08:43] erikbarke commented on #181
Ok, great 🎉

[2017-09-19 08:45] gempain commented on #181
I know it is unrelated, but may be the docs could show a tiny warning against this problem ? For example, after the `karmaTypescriptConfig.coverageOptions.exclude` description:

[2017-09-19 09:13] gempain commented on #179
Not right now, but I will try to setup one ASAP.

[2017-09-19 09:42] kalitine opened #184 "Failed to run test: "TypeError: Cannot read property 'length' of undefined""
**karma**: v1.7.1
**karma-typescript**: v3.0.6
**typescript**: v2.5.2
[karma_debug.txt](https://github.com/monounity/karma-typescript/files/1313737/karma_debug.txt)

**Repo**: https://github.com/coast-team/netflux/tree/debug

My lib uses one JavaScript file which is imported by its d.ts (`src/proto/index.js`) which does not have any `require` or `import`. The only `require` are in `src/misc/polyfi

[2017-09-19 10:28] kalitine commented on #184
This might be a compilation problem with Typescript and not `karma-typescript`, as it does not compile with `tsc` command. I use RollupJS and it works, so that why I did not pay attention to `tsc`. Anyway if you have any idea it very appreciated, but actually it is not an issue with karma-typescript.

[2017-09-19 17:23] WilliamBowen commented on #178
Repo is located at https://github.com/WilliamBowen/example. It is a stripped down version of the project I am working on, since it is not open source, but it creates the same issue. Thanks for taking a look.

[2017-09-20 11:28] rolandjitsu opened #185 "3.0.6 causes karma to fail"
After I updated to latest version, I'm getting:
[code]

Going back to `3.0.5` works.

[2017-09-20 20:05] erikbarke commented on #178
Ok, I've looked at your example and it seems something's up with the `npm link`, I can't even get a simple `echo "require('@wb/project1')" | node` to resolve the linked package in the root of project2 (for example `echo "require('@angular/core')" | node` doesn't crash).

The `@wb/project1` folder structure has been created in node_modules, but the package.json property `main` points to index.js wh

[2017-09-20 20:06] erikbarke commented on #185
This should be fixed now, does it work for you if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-09-20 22:03] erikbarke commented on #184
It seems that Typescript chokes on `src/proto/index.js`, I haven't found anything else 😕

[2017-09-20 22:28] erikbarke commented on #178
Try using an alias in the bundler options + the latest version of karma-typescript (3.0.6):

[code]

Using this config worked for me ☺️

[2017-09-20 23:53] WilliamBowen commented on #178
Thank you, that seems to have taken care of the problem.  I had tried the using an alias before, but it turns out I was doing it wrong. I am now getting a different error. "Uncaught Error: Cannot resolve all parameters for 'BrowserPlatformLocation'(undefined @Inject)". This is probably unrelated though.

[2017-09-21 07:12] kalitine commented on #184
Thank you for the look. Indeed something goes wrong with `src/proto/index.js`. This file is generated by [protobufjs](https://github.com/dcodeIO/protobuf.js) lib and then bundled with Rollup using rollup-plugin-babel. However tests pass well.

Anyway I tried with TypeScript 2.4.2 and it works now. Thanks again and karma-typescript is really awesome!

[2017-09-21 07:12] #184 closed

[2017-09-21 07:50] MasterCassim commented on #175
This fix produces an issue for my build now. When bundling, I always get the following fatal error:

Fatal error: Unable to resolve module [tslib] from [ <FOLDER>/_shared/interactionContainer.js ] where my actual project is located under <FOLDER>/project/ and tslib cannot be found with this changed behavior.

[2017-09-21 07:52] erikbarke commented on #178
Great ☺️ The new error looks like an angular config error, so I'm closing this issue.

[2017-09-21 07:52] #178 closed

[2017-09-21 07:54] erikbarke commented on #175
@MasterCassim, do you have a repo I could take a look at?

[2017-09-21 12:04] MasterCassim commented on #175
Unfortunately, the source code is not public. I may be able to provide a reduced version.

[2017-09-21 16:19] rolandjitsu commented on #185
@erikbarke I think it's working now. I'm getting a different error, but let me check if it works after I fix it.

[2017-09-21 16:31] rolandjitsu commented on #185
It seems to be working now.

Off topic, I've just setup a package that uses this plugin for testing TS code, but it seems to complain with:
[code]

But it's strange, because I have a similar setup which doesn't use `karma-typescript-es6-transform`, but it works just fine.

[2017-09-21 17:44] erikbarke commented on #185
My guess is one of your dependencies (or a sub dependency) in your project has been upgraded to a newer version which now uses the es6 syntax, which would explain the different behavior between two seemingly identical projects, just a guess. If you look inside the temp bundle file you'll find the culprit ☺️

Anyway, I'm closing this issue now and I'm releasing a hotfix this week!

[2017-09-21 17:44] #185 closed

[2017-09-22 07:05] MasterCassim commented on #175
@erikbarke Created a small repo where the issue can be seen. Executing "npm install && grunt karma" only works when explicitly setting karma-typescript to v3.0.5

-> https://github.com/MasterCassim/karma-typescript-175

[2017-09-22 12:16] erikbarke commented on #175
I've added an extra resolve without filename, does it work for you if you install from the development branch, `npm i github:monounity/karma-typescript#next`?

[2017-09-22 12:38] MasterCassim commented on #175
Works correctly with github:monounity/karma-typescript#next

[2017-09-22 12:42] erikbarke commented on #175
Great, I'm releasing this fix with a few other hotfixes this week 🚀

[2017-09-22 12:42] #175 closed

[2017-09-26 04:08] nros opened #186 "apply transform API on node_modules too"
We are using karma + TypeScript + mocha + chai with `karma-typescript` for unit testing. At the moment [PhantomJS](http://phantomjs.org/) seems the best option for headless testing on CI machines.

However, PhantomJS does not support ES2015 (ES6) and seems to never will. Hence it fails on JavaScript code making use of keywords `let` or `const`. NPM modules utilizing ES 6 features seem to increase,

[2017-09-27 03:45] erikbarke commented on #186
This should work for both project files and files bundled from node_modules, what does your config look like?

I modified the [typescript-latest example project](https://github.com/monounity/karma-typescript/tree/master/examples/typescript-latest) like this:

[code]
karma.conf.js:
[code]

hello.component.js:
[code]

This works if I execute `npm run dev:ci:phantomjs` (PhantomJS barfs if I remove th

[2017-09-27 18:06] nathanbedford opened #187 "Any suggestions on how to load jQuery before AngularJS for tests?"
I have a Webpack/AngularJS (1.6)/TypeScript project.  I have Webpack configured to load jQuery before Angular, so I can use full jQuery instead of jQuery Lite in my directives.

Trouble is, when I  run my karma tests with karma-typescript now, it looks like jQuery isn't loading before Angular, so I can't do things like "element.click()' in my directives.

I know removing jQuery as a dependency is

[2017-09-28 03:34] erikbarke commented on #187
Off the top of my head, have you tried adding jQuery before all other files in the `files` section of the Karma config?

[2017-10-03 09:39] gempain commented on #181
Thanks a lot @erikbarke :) I think this will benefit others :)

[2017-10-03 13:12] gempain opened #188 "Provide relative path to instrumenter exclude regex"
Hello,

`Coverage.prototype.isExcluded = function (regex, path)` receives the full path of files. This may be inapropriate in certain situations. For example, suppose I want to ignore the `test/` folder from my project. Currently, the only option is to set
[code]
in my `karma.conf.js`.

This works fine unless a parent folder of the project's root directory is named `test`. If that happens, the reg

[2017-10-04 23:49] mitchhentges opened #189 "Compile source maps for `karma-typescript`"
Would there be any harm in enabling sourcemaps for this package? It would make it easier for contributors to start on and debug the project, and dependent packages could step through `karma-typescript` if they needed to.

I can whip up the one-line PR, just wanted to start a discussion :)

[2017-10-05 18:02] erikbarke commented on #188
This sounds like a good idea! Would you like to implement this in a PR?

[2017-10-05 18:03] erikbarke commented on #189
Great idea! PR please ☺️

[2017-10-05 18:16] #187 closed

[2017-10-05 18:16] #179 closed

[2017-10-05 18:17] #186 closed

[2017-10-12 03:49] erikbarke commented on #189
Fixed in #191.

[2017-10-12 03:49] #189 closed

[2017-10-12 04:12] erikbarke commented on #188
Tracked in #193.

[2017-10-12 04:12] #188 closed

[2017-10-12 07:32] gempain opened #195 "Enhance testing process"
See #193 for background.

We should probably:

* Add a build script as part of the test workflow, because it currently needs to be ran separately. Some users (like I) may be disturbed when they run tests and don't see their changes applied.
* Add an npm script that allows users to reproduce tests ran on CI servers, so that they can test locally before pushing.
* Change the unit test framework and

[2017-10-12 16:47] mitchhentges opened #197 "log4js@2.3.5 typings break the build"
When I clone locally or build on Travis (See [here](https://travis-ci.org/monounity/karma-typescript/jobs/287112740)), my build fails due to `log4js` types:

[code]

I'm not sure how it passed for the most-recent commit of [monounity/karma-typescript](https://travis-ci.org/monounity/karma-typescript/builds/286838164?utm_source=github_status&utm_medium=notification). I can't just add `@types/log4js

[2017-10-12 18:31] mitchhentges commented on #197
@gempain are you seeing this issue locally on commit `https://github.com/monounity/karma-typescript/commit/dd891f988281501b06486fd8c725a256fd143fbe`?

[2017-10-12 19:09] gempain commented on #197
@mitchhentges checking

[2017-10-12 19:20] gempain commented on #197
Yup, I can confirm this locally. The CI build is broken as well. We need to install @types/log4js as explained in the error I think.

Sidenote: I use GitLab at work, it's much nicer to see which build failed and when. I miss the graph visualisation feature of Sourcetree on GitHub too :) It's a bit difficult to switch between Sourcetree, Travis, Veyor etc 😋

[2017-10-12 19:28] erikbarke commented on #197
Log4js released v2.3.5 yesterday, the new version ships with its own typings and they seem kind of broken... I've tried locking to an earlier version which still uses the typings from @types/log4js, but I have to tread carefully here, the logging config object is shared between karma-typescript and the Transforms plugins, this will probably take some work 😕

[2017-10-12 19:29] mitchhentges commented on #197
I can look into fixing this tonight (PDT) :)

[2017-10-12 19:59] erikbarke commented on #197
The typings in log4js@2.3.5 seem broken beyond belief...

If you want to fix this @mitchhentges, you will also have to look at upgrading these plugins:
- [karma-typescript-angular2-transform](https://github.com/monounity/karma-typescript-angular2-transform)
- [karma-typescript-cssmodules-transform](https://github.com/monounity/karma-typescript-cssmodules-transform)
- [karma-typescript-es6-transfor

[2017-10-13 05:02] mitchhentges commented on #197
Locking to the last `1.x` version sounds like backing down from a challenge, let's update these puppies

[2017-10-13 05:09] mitchhentges commented on #197
Update: [Karma still uses `log4js@^1.1.1`](https://github.com/karma-runner/karma/blob/master/package.json#L344). I think we should follow `karma` here, since the loggers are configured at the "karma level" of the config file, not within `karma-typescript`.

TL;DR `log4js@^1.1.1` it is

[2017-10-13 06:52] erikbarke commented on #197
Awesome!

This means that whenever the Karma devs decide to upgrade to log4js 2.x, karma-typescript will have to support both the 1.x and the 2.x api to be able to run with newer and older versions of Karma. Hello, duck typing 😃

Closing since this was fixed in #197.

[2017-10-13 06:52] #197 closed

[2017-10-13 07:59] mitchhentges commented on #197
When karma releases a new version, it might be worth releasing a new version of `karma-typescript` that only supports that new version, and have everything before it only support old `karma-typescript`, so there's not any overlap shenanigans.

Then:
* For new users, they'll install both new `karma` and new `karma-typescript`, which will work
* For existing users, when they update `karma`, they (sh

[2017-10-13 20:14] erikbarke commented on #195
First of all, I think this issue is as much about improving the workflow as it is about adding more documentation for contributors ☺️

Secondly, sorry for the wall of text...

## Scripts
These are the npm scripts in the root package.json as of now:

Name | Command | Description
------ | ------|-------------
build | `tsc --rootDir ./src`| Compile the source code once
build:watch | `tsc -w --rootDir

[2017-10-13 20:35] mitchhentges commented on #195
Thanks for the writeup :)

I find that most projects usually have their `test` script automatically deal with building. For example, everything that depends on `karma-typescript` just run `npm test`, and the build is performed by `karma` when it invokes its plugins (such as `karma-typescript` :wink:).

I've found that `npm run ci` works nicely to handle that case.

Using `npm run build:watch` and

[2017-10-14 23:48] erikbarke commented on #195
The example projects serve two purposes, they serve both as working examples and as a kind of integration tests when executed on the ci servers. This was the main reason for splitting the example project test commands into `npm run dev` and `npm test`; the former requires a full install of the karma-typescript root project to work and the latter only requires a local `npm install`for the user to b

[2017-10-16 07:27] Hobart2967 opened #199 "Order files by reference tags set in *.ts"
In order to have "outFile" supported somehow without using commonjs (namespacing instead of using modules), it is required to sort the *.ts files before running karma with karma-typescript.

Example

**fileA.ts**
[code]

**fileB.ts**
[code]

**=> Results in an error when running the test:**
Cannot read property 'B' of undefined.

Reason: Reference tags are ignored, so karma-typescript includes the

[2017-10-16 09:09] gempain commented on #195
Sorry for the delay;

I'll agree with the `npm run ci`.

As for `tape` I'll give it a try :)

As for the platform-dependent tests, I think we could simplify the scripts a little bit. For example, instead of having `test:windows` and `test:unix`, we could write a simple Node script that deals with that kind of problem. There may also be node packages that deal with this issue. I will agree that doi

[2017-10-16 09:57] gempain commented on #197
Completely unrelated, but I have to say I enjoy reading both of you :smile: I'm learning quite a few new expressions and love the way you throw certain sentences :tada:

[2017-10-16 18:22] mitchhentges commented on #199
Interesting, I think I understand.
If `karma-typescript` isn't honouring ordering for triple-slash directives, isn't that a bug? IIRC, loading according to the order the directives are written in the file is normal behaviour, not something that should be enabled/disabled with a flag, right?

Also, just so I'm on the same page: if this was working properly, would you still be using `outFile`? My un

[2017-10-16 19:13] erikbarke commented on #195
Ok, `npm run ci` it is!

Do you wanna take a shot at implementing your idea of a test script that builds the project before running the tests, @gempain? Maybe we could just add a build task to the gulp file?

I've removed `test:windows` and `test:unix` now, they only ran scripts in the ./ci directory anyway and had somewhat misleading names, so good riddance 😌

Also, here are the [contributing gui

[2017-10-16 19:56] erikbarke commented on #199
@mitchhentges, I agree that the loading order should be correct by default, no flags should be needed.

The cumbersome workaround for this could be specifying the files in the desired order in the Karma files section as suggested in #17, but that really isn't a feasible solution if the project has a large amount of files and you just want to use wildcards for matching for the files.

The bundler a

[2017-10-16 21:26] mitchhentges opened #200 "Improvements to "Contributing" docs"
Mention _where_ `npm run build:watch` should be executed (the root of the repository)

-----

Should be "which can be run on *the* command line"

Maybe throw `autoFixOnSave` in backticks?

-----

Perhaps should be "or an integration test that _fails_ without the bug fix". Minor language nit, "breaks" implies that the test itself breaks down and performs incorrectly? IDK 🤷‍♂️

-----

Thanks for cre

[2017-10-17 01:59] mitchhentges opened #201 "Suggestion: do development on `master` branch"
Does it make more sense to have a `next` branch, or to do development on `master`?
I know that the development experience for new contributors would be simplified if we developed on `master`, because there'd be less branch-management overhead. However, I haven't worked on many projects where `next` is the primary dev branch, so I haven't realized the benefits (yet!)

[2017-10-17 15:15] erikbarke commented on #200
Updated!

[2017-10-17 15:15] #200 closed

[2017-10-17 18:47] erikbarke commented on #201
It made sense a while back when Typescript were moving fast and every other release made karma-typescript crash and burn 🔥 Also, there was some really wild stuff going on development-wise in karma-typescript at the time which made me switch to doing all the development on feature branches and the hot fixes on the master branch. At first the feature branches had the same name as the upcoming releas

[2017-10-17 21:40] mitchhentges commented on #201
My vote is GitHub flow. There's already a great collection of tests in `karma-typescript`, so there can be reasonable confidence that `master` is in a good state, and always ready to be released.

We found that it worked really well for [James Proxy](https://github.com/james-proxy/james/), too, if that anecdata helps ;)

[2017-10-18 11:31] marmelin commented on #131
Hi guys,
I want to wake this one up, because I have this exact same problem. It does not work even after first installation.

[code]

package.json:
[code]

Any more suggestions on this?

[2017-10-18 13:18] erikbarke commented on #131
@marmelin, as stated earlier in this thread, the Angular2 example runs on both Travis CI and on [AppVeyor](https://ci.appveyor.com/project/monounity/karma-typescript) after every push to this repo. You have the same error message as `bbottema` had, `Cannot find module 'typescript'`, can you verify that typescript package has been installed properly by npm?

[2017-10-18 13:28] erikbarke commented on #201
Then it's settled, the GitHub Flow it is!

Off topic, would you like to take a look at what's needed to resolve issue 199?

[2017-10-18 13:28] #201 closed

[2017-10-18 17:24] mitchhentges commented on #131
@marmelin, two suggestions that might help:

1. Are you running off the `master` branch? There's been some weird shenanigans with the compiled output existing in the repository, which should be resolved in `next`.
2. Did you run the [`install.[sh|bat]`](https://github.com/monounity/karma-typescript/blob/e6459401f6210502a2677850fc07abac85900f75/ci/install.sh) script? Perhaps running that will resol

[2017-10-18 17:29] mitchhentges commented on #201
Perhaps I can take a peek on the weekend :)
My bigger priority is making the new version of `karma-typescript` work nicely with my repository (#177), but I'll work my way around

[2017-10-18 17:55] erikbarke commented on #201
Great, 3.0.8 is on npm now 😃

[2017-10-22 19:58] maxant opened #202 "Could not find source map for: <filename>"
I've added karma-typescript to a very simple app but even though I get a useful coverage report including mapping from JS to TS, karma is throwing errors during coverage transformation.

I'm logging the bug here, because it is this plugin which doing in-memory compilation, meaning that there are indeed no files for `remap-istanbul` to find.

Here is a demo project: https://github.com/maxant/typesc

[2017-10-23 02:50] erikbarke commented on #202
It's the `remap-coverage` that somehow interferes, after removing that your project executed without any error messages!

[2017-10-23 19:57] maxant commented on #202
Works perfectly, thanks!

[2017-10-23 19:57] #202 closed

[2017-10-25 12:10] asif-khan17 opened #203 "coverage folder is not getting generated"
module.exports = function (config) {
    config.set({
        basePath: '',
        frameworks: ['jasmine', 'karma-typescript'],

        plugins: [
            require('karma-jasmine'),
            require('karma-chrome-launcher'),
            require('karma-typescript'),
            require('karma-coverage'),
            require('karma-jasmine-html-reporter')
        ],
        files: [

[2017-10-25 18:16] erikbarke commented on #203
Does this really work, `'wwwroot/app/**/!(*.spec).ts': ["karma-typescript"]`?
All ".spec.ts" files are excluded from instrumentation by default (see `karmaTypescriptConfig.coverageOptions.exclude`) so you shouldn't need to exclude them. Does the coverage folder get generated if you include also the spec files in the preprocessor setting, ie `'wwwroot/app/**/*.ts': ["karma-typescript"]`?

[2017-10-26 06:23] asif-khan17 commented on #203
No.. After changing preprocessor settings to 'wwwroot/app/**/*.ts': ["karma-typescript"] .. it still not generates coverage folder

[2017-10-26 17:53] erikbarke commented on #203
Ok, you're also adding all of your project files with `included: false` which means you have to load them manually in the browser with Require.js or similar, is that what "karma-test-shim.js" does? It looks like you're mixing frameworks here, which I'm guessing you really don't since karma-typescript uses CommonJS internally and does all the bundling and module loading automatically for you.

[2017-10-27 07:11] erikbarke commented on #195
I've added a couple of PRs now that should cover what we've discussed here: #204, #205, #206!

[2017-10-27 07:34] gempain commented on #195
@erikbarke just read the contributing file, and it looks sport perfect :)

For the build, do you still need me to implement something ? I am a bit busy at the moment and can't promise to react quickly :smile: Adding this platform independent build can definitely be done in the gulp file as it's usually where you'd find such scripts :)

I think that with all the recent changes, things look much bet

[2017-10-28 03:27] erikbarke commented on #195
Everything has been implemented, so if you guys are happy with the changes I'll merge the PRs!

[2017-10-28 13:32] gempain opened #207 "fs is empty"
Hello,

It seems that the `fs` dependency is not being loaded properly. What am I doing wrong ?

**My test:**
[code]

**My karma config:**
[code]

**My typescript config:**
[code]

Thanks a lot for your help 😄

[2017-10-28 13:37] gempain commented on #195
Approved :)

[2017-10-29 03:15] erikbarke commented on #207
A lot the core modules of Node.js can be [emulated in a browser](https://github.com/monounity/karma-typescript/blob/master/src/bundler/resolve/shims.ts), but some modules like `fs` just doesn't make sense in an environment without a file system!

[2017-10-29 03:15] #207 closed

[2017-10-29 09:48] gempain commented on #207
But then, how would I go about testing a function that reads the file system ? Is this doable with karma ?

[2017-10-29 11:09] erikbarke commented on #207
The simple answer is no, Karma is designed to launch unit tests for web applications in a real world browser. I guess you could somehow mock the `fs`modules but your mileage may vary...

[2017-10-29 14:39] erikbarke commented on #207
Try [karma-typescript-mock](https://www.npmjs.com/package/karma-typescript-mock) ☺️

[2017-10-29 18:14] mitchhentges commented on #199
@erikbarke, I'm fairly committed to this project, can you add me (and probably @gempain) to the repository?
If that's all OK, then it would be :100: if you could set me as the assignee for this ticketerino

[2017-10-29 19:25] erikbarke commented on #199
@mitchhentges, I actually began digging a little deeper into this issue last night and I'm not sure there's anything we can do here 😞

The bundler counts the number of `import`/`require` statements in the project and if there are more than 0 dependencies each .ts file will be wrapped in a CommonJS wrapper. If there are 0 dependencies the code won't be bundled, which is useful if you're using names

[2017-11-04 03:11] maple3142 opened #209 "Error parsing code: Unexpected token"
As title, but I can build it with `webpack`+`ts-loader` successfully.

karma.conf.js
[code]

it happend in `interfaces.ts`
[code]

Error msg
[code]

[2017-11-04 03:58] #203 closed

[2017-11-04 04:00] erikbarke commented on #195
Ok, all PR:s are merged now, closing ☺️

[2017-11-04 04:00] #195 closed

[2017-11-04 04:02] erikbarke commented on #158
@mitchhentges, would you like to take a stab at upgrading `istanbul` to `nyc`?

[2017-11-04 04:12] erikbarke commented on #209
You've added `.d.ts` to `karmaTypescriptConfig.bundlerOptions.resolve.extensions`, which makes the bundler parse uncompiled typings files, does it work if you remove `.d.ts` from the extensions array?

[2017-11-04 09:55] maple3142 commented on #209
It said cannot found `'vue/types/vue'` and `'vuex/types/index'` after remove `.d.ts`

[2017-11-04 20:24] mitchhentges commented on #158
Can do, I'll take a peek right now

[2017-11-04 22:07] mitchhentges opened #212 "Remove shims.ts"
Hmm, do you think we can remove [shims.ts](https://github.com/monounity/karma-typescript/blob/53a9700b734de2063b5c69c0cd8ca6cbd3fb3631/src/bundler/resolve/shims.ts)?
Arguably, it makes it easier for newcomers, but IMHO, it makes `karma-typescript` more confusing:

So long as projects use shims which are in `karma-typescript`, it will work out-of-box. The user will be under the impression that some

[2017-11-05 03:41] erikbarke commented on #209
Do you have repo I could take look at?

[2017-11-05 04:15] erikbarke commented on #212
These shims emulate the Node.js environment, just like in [browserify](https://github.com/browserify/browserify/blob/master/lib/builtins.js), and the shims [are used](https://github.com/monounity/karma-typescript/blob/master/src/bundler/resolve/resolver.ts#L173) by [browser-resolve](https://github.com/defunctzombie/node-browser-resolve) if `karmaTypescriptConfig.bundlerOptions.addNodeGlobals` is s

[2017-11-05 05:55] maple3142 commented on #209
yes [https://github.com/maple3142/vuejs-storage/tree/dev](https://github.com/maple3142/vuejs-storage/tree/dev)

[2017-11-05 19:52] erikbarke commented on #209
Here's a workaround, I'll investigate some more to see if I can make this work automatically without explicitly excluding stuff:

[code]
Diff:

[code]

[2017-11-06 02:05] mitchhentges commented on #212
Hmm, interesting! It sounds like `shims.ts` handles the situation where code that is expected to run in Node.js is tested in `karma`, which runs code in browsers. So, the Node.js environment has to be recreated/mocked in the browser so the code will still run.
Two questions:
* If code is meant for Node.js (and not to be executed in browsers), should it really be executed in `karma`, whose mission

[2017-11-06 12:43] maple3142 commented on #209
@erikbarke Thanks! It works.

[2017-11-06 12:43] #209 closed

[2017-11-07 00:42] erikbarke commented on #212
A lot of users are running `webpack` or `browserify` side by side with `karma-typescript` and since all the big bundlers are able to bundle an emulated Node.js environment I really think that the `karma-typescript` bundler should provide at least the same level of functionality. Removing the shims would not only alienate some existing users but it would also probably generate issues asking "I can

[2017-11-07 01:23] mitchhentges commented on #212
Hmm, makes sense.
I suppose it comes down to what the scope of `karma-typescript` should be. IMHO, `karma-typescript` should strictly act as a `typescript` processor, and should leave related jobs to the rest of the ecosystem, such as bundling and (potentially) even coverage reporting.

I understand that it would be ideal for `webpack` users to have a minimum amount of work to do to have their cod

[2017-11-07 13:48] erikbarke commented on #212
I had a project which used webpack and I was, to put it mildly, a bit put off by how complicated it was to get Karma + webpack to compile the Typescript code, run the tests and generate accurate remapped coverage with lines that wasn't off by one or more... So I decided to scratch my itch and created `karma-typescript` with essentially one goal in mind: as simple config as possible and I think tha

[2017-11-07 18:00] mitchhentges commented on #212
Interesting! I can definitely see the value to having one plugin with simple config to fully meet the requirements of most projects.
I think that the naming of this package might not be 100% accurate in that case, since it's not strictly acting as a `typescript` compiler, but rather as a complete solution to existing projects that want a simple, monolithic solution to the testing problem.
Makes se

[2017-11-07 18:00] #212 closed

[2017-11-08 13:37] Hobart2967 commented on #199
Unfortunately only within a private company repository at this time. We are not using bundling, we use the "outfile" switch when compiling the JS for production environment. And we would like to behave the same for tests, which is not possible for karma-typescript, unfortunately. That means at this time we ordering the files by /// <reference matches.

The function I posted solves the problem, but

[2017-11-09 11:07] goktugyil opened #214 "Run without compiling typescript files?"
I'm using Webstorm IDE and all my .ts files are automatically compiled into .js on change.

I do not need another step of compiling all the files to .js everytime I want to run a single test method.

I just want to see the coverage on my .ts files.

If possible I would like to skip the compile process of karma-typescript. Is there a way to do this?

[2017-11-09 14:25] goktugyil commented on #162
Just writing these lines worked for me:

       files: [
            'code/**/*.ts'
        ],

        preprocessors: {
            '**/*.ts': ['karma-typescript', 'coverage'],
        },

[2017-11-09 19:32] erikbarke commented on #214
Unfortunately no, `karma-typescript` uses an in-memory cache internally which is shared by the preprocessor/compiler and the coverage reporter, the only way to populate this cache is to run the Typescript files through the preprocessor.

Off the top of my head, would combining `karma-coverage` and `nyc` work for you?

[2017-11-09 19:54] erikbarke commented on #199
I'm afraid I still don't understand what's happening here... You sort the files by triple slash references in your `grunt` workflow but what happens after that? Are you running Karma programmatically using `grunt-karma`, feeding Karma the list of sorted files directly from `grunt`?

[2017-11-09 20:49] goktugyil commented on #214
Thanks for the answer, I'll check that out.

[2017-11-10 04:24] #214 closed

[2017-11-10 04:25] erikbarke commented on #163
#68

[2017-11-13 13:37] BebeSparkelSparkel opened #215 "Tests run when compile fails"
It seems that the tests shouldn't run if the compile fails.

Is there a way to block the test from running if the ts => js fails?

[2017-11-14 05:54] erikbarke commented on #215
Check out `noEmitOnError` in the readme, if you set it to `true` in, for instance `karmaTypescriptConfig.compilerOptions` the Karma process will exit if there are compilation errors!

[2017-11-15 01:44] BebeSparkelSparkel commented on #215
That is better, but it kills my karma process when I have `singleRun: false,`.

[karma-tslint](https://www.npmjs.com/package/karma-tslint) has a good option `stopOnFailure: true` that stops the current test but doesn't kill the process

[2017-11-16 04:40] erikbarke commented on #215
There's a fix for this in #216!

[2017-11-16 11:03] BebeSparkelSparkel commented on #215
Thanks!

[2017-11-16 11:03] #215 closed

[2017-11-20 00:27] jods4 opened #217 "Transforms: is it possible to generate code?"
I can't seem to get this to work, no matter what I try.
I have a transform that compiles views. It takes a HTML file as input, produces JS as output.

So I have one html template `view.html` (content not relevant).
In Typescript I have some import
[code]
To make it compile fine I declared that `.html` imports produce a specific interface:
[code]
All of this works. The html file is even loaded by `

[2017-11-22 03:39] erikbarke commented on #217
Could you post you karma config here? Or do you have a repo we could take a look at?

[2017-11-22 18:43] jods4 commented on #217
@erikbarke I did some digging myself into the karma bundler source code.

So my `view.html` goes through this code:
https://github.com/monounity/karma-typescript/blob/ac17c17c03ad6af813a93a717f2555597eba4f75/src/bundler/resolve/source-reader.ts#L25

If you look at `assertValidNonScriptSource` that is just below, it's clear that the only thing that is supported here is a trivial module that consist

[2017-11-23 19:38] erikbarke commented on #217
@jods4, there's definitely room for improvement here...
@gempain, we could try just parsing the text content with `acorn` and if the parser doesn't barf it's considered a script and should be passed to the bundler as is, what do you think?

[2017-11-23 20:40] jods4 commented on #217
@erikbarke to avoid sniffing, maybe the transform could set a flag on `context` to indicate it returns js? That seems easy enough.

If this information is then used so that `bundleItem.isScript()` returns true, the rest should flow naturally from here: https://github.com/monounity/karma-typescript/blob/02964167f54041df066aec55816bdba5155bf875/src/bundler/resolve/resolver.ts#L201-L217

I currently

[2017-11-25 19:23] erikbarke commented on #217
The context object is shared between the transformers so I think we should put this new flag in the transform callback:

https://github.com/monounity/karma-typescript/blob/02964167f54041df066aec55816bdba5155bf875/src/api/transforms.ts#L7-L9

The new flag should be optional (like the `transpile` flag), would you like to add this new feature in a PR?

[Contributing guide lines](https://github.com/mo

[2017-11-29 14:54] marlongehringer opened #218 "Display all files (includeAllSources)"
Hi,
is there an option to show every file in the coverage report? Like the `includeAllSources` option in [karma-coverage](https://github.com/karma-runner/karma-coverage)?

With `karma-typescript` I get following output:
![karma-typescript](https://user-images.githubusercontent.com/8615026/33380973-06da7ce4-d51d-11e7-910a-602aac5f87a8.png)

And with `coverage` and `coverageReporter.includeAllSource

[2017-11-29 22:43] jods4 commented on #217
I opened a PR that made this work in my project.

It's really minimal and could be improved:
In particular it seems that there's no easy to send back typescript code, es6 code that would be transpiled (`import`/`export`) and you have to compile the AST in the transformer.

[2017-11-29 23:21] kybishop opened #220 "config.transformPath is not a function"
After running karma with `karma start karma.conf.js` I get an error on every processed TS file which complains that `config.transformPath` is not a function. This leads me to believe the default `karmaTypescriptConfig` is either borked, or is somehow not being pulled in.

[code]

[2017-11-29 23:24] kybishop commented on #220
Here is the `karma.conf.js` file. I'm stumbling quite a bit to get karma running for the first time on our project, so apologies if there are glaring errors here.

[code]

[2017-11-30 00:11] kybishop commented on #220
Looks like I simply forgot to include `karma-typescript` in my array of frameworks. Closing.

[2017-11-30 00:11] #220 closed

[2017-11-30 10:55] Drag13 opened #221 "Karma-typescript fails on npm install command"
Hi guys,

We found an issue with npm install and latest package 3.0.8

You have a dependence on the coffee-script which is already renamed to the coffeescript. So when we try to install it all fails.

Bug can be reproduced with this setup:

    "jasmine-core": "2.8.0",
    "karma": "1.7.1",
    "karma-jasmine": "1.1.0",
    "karma-typescript": "3.0.8"

[2017-11-30 11:34] vidartf commented on #221
The dependency in question is `pad` that should be upgraded to major version 2 (which has an updated dependency). For now, a workaround is to add a dev dependency on `"coffee-script": "1.12.7"`, see https://github.com/jashkenas/coffeescript/issues/4805.

[2017-11-30 11:46] Drag13 commented on #221
Thanks, so I assume this bug is not related to this repo and should be closed?

[2017-11-30 14:40] vidartf commented on #221
The bug is not caused by this repo, but the `pad` dependency should probably still be updated to version 2 as the old version has a deprecated dependency. I see a PR was opened for that, so maybe leave the issue open until the PR is resolved.

[2017-12-01 03:29] erikbarke commented on #218
What does your Karma config look like? All files that are picked up by Karma and karma-typescript will get coverage, it doesn't matter if they have corresponding unit tests or not: #116.

I just tried this out by adding a new file to one the example projects and using wildcards all files gets coverage, even those without a test:

[code]

[2017-12-01 03:53] #221 closed

[2017-12-01 03:56] erikbarke commented on #221
Thanks guys 😃

[2017-12-01 06:38] noru commented on #221
"coffee-script": "1.12.7" worked in my case.

Quote from the link above. Solved my problem

[2017-12-07 03:59] #217 closed

[2017-12-07 04:01] #218 closed

[2017-12-07 04:01] #199 closed

[2017-12-14 14:48] aktraore opened #223 "alias option in bundlerOptions resolve isn't conform to documentation"
in the documentation it is specified that :

The key is a regular expression.

The key is not treated as a regular expression in the resolver.ts file at line 161, it's used a string, and even the interface Resolve in the configuration.ts file define it as an index signature type that can only be a number or a string.

This leads to karma not being able to resolve the paths indicated in my import s

[2017-12-15 03:45] erikbarke commented on #223
The module `jskitx` isn't on npm so I haven't been able to reproduce this error, do you have a repo I could take a look at?

[2017-12-15 15:19] aktraore commented on #223
Hello @erikbarke thanks for getting back to me so quickly, jskitx is an internal module in my company but I created a simple repo to reproduce the problem from your angularJs example. You just need to run
[code]
https://github.com/aktraore/karma-typescript-test-repo
thanks again for the reactivity :)

[2017-12-17 10:56] mulmulovich opened #224 "PhantomJS 2.1.1 (Windows 7 0.0.0) ERROR ReferenceError: Can't find variable: Map"
after upgrading typescript to 2.6.2 this error came:
[code]
Map is lodash Map declared under `@types/lodash`

i'm using:
[code]

please advise if its a bug or i missing some configuration

[2017-12-18 05:59] erikbarke commented on #224
Have you included a polyfill for `Map`?
[PhantomJs: Can't find variable map](https://stackoverflow.com/questions/41729482/phantomjs-cant-find-variable-map)

[2017-12-18 06:14] erikbarke commented on #223
When I open `service.spec.js` my IDE (Visual Studio Code) complains about not finding 'kt/api/index' and if I try to compile the project with `tsc` the complier complains about "error TS5060: Option 'paths' cannot be used without specifying '--baseUrl' option", so I think this is a Typescript configuration issue 😕

[2017-12-18 06:39] aktraore commented on #223
I use visual studio code too, and the IDE will stop complaining after having done "npm install" because it'll find the module then. I forgot to specify the baseUrl in the tsconfig file for the test repo but you'll notice it's set in the code I pasted above. I've update the repo and the problem is still reproduced and tsc works fine now.

[2017-12-18 08:00] mulmulovich commented on #224
yes, tries core-js and es6-shim.

the issue is that the error came from this piece of code on karma-typescript bundle:
[code]
any ideas?

[2017-12-18 08:54] erikbarke commented on #224
How are you loading the polyfill, with an import/require in your code or in the Karma config file list? Is the polyfill present in the bundle?

[2017-12-18 11:28] mulmulovich commented on #224
i using it in the files
tried this:
[code]
and this:
[code]

also tried to use core-js in same way...

actually, i cant find es6-shim.js code in the bundle (see attached)
[karma-typescript-bundle-93088Z117OgkKVtq..txt](https://github.com/monounity/karma-typescript/files/1567683/karma-typescript-bundle-93088Z117OgkKVtq.txt)

[2017-12-19 03:38] erikbarke commented on #224
If you're specifying the polyfill in the files section it will be loaded in the browser by Karma directly, it won't get bundled, which is expected behavior. In what order are you listing the files, is the polyfill listed before all the rest? Does Karma complain about not finding the file?

[2017-12-19 05:40] erikbarke commented on #223
There's a PR with a fix here: #225. Does you project work with the fix?

[2017-12-19 05:43] erikbarke commented on #223
And I tested your demo repo with the fix and this Karma config:

[code]
No need for aliases now ☺️

[2017-12-19 06:35] aktraore commented on #223
You made my day ! I'll check out that specific commit at work to see if it solves my problem (i'm pretty sure it does), thank you so much for responding so fast!

[2017-12-19 07:48] mulmulovich commented on #224
the polyfill is first. how can i check if the file loaded to the browser?

[2017-12-19 17:40] baywet opened #226 "3.0.8 => 3.0.9 TypeError: Cannot read property 'fileName' of undefined"
Hi,
Our builds broke overnight because of the new version.
So far we locked down to 3.0.8 to workaround the issue.
Error message
[code]
karma.conf.js
[code]
tsconfig.json
[code]
packages.json (partial)
[code]

[2017-12-20 03:38] erikbarke commented on #224
Are you able to new up an instance of `Map` in your own code? This looks like a race condition, does it work if you add the polyfill like in [this example](https://github.com/monounity/karma-typescript/blob/master/examples/angular2/base.spec.ts)?

[2017-12-20 04:05] erikbarke commented on #226
It looks like the compiler barfed when trying to collect configuration errors, there's a fix here: #227 ☺️

[2017-12-21 12:57] mulmulovich commented on #224
gave up phantomJS and went for ChromeHeadless:

**karma.conf.js**
[code]

**tsconfig.json**
[code]
**package.json**
[code]
so...after making the changes i got this:

[code]
i obviously installed `karma-chrome-launcher` and even add him to the `plugins ` section of `karma.conf.js`

not clear to me why he complain about it...

[2017-12-22 22:21] cherrydev opened #228 "symlinks result in duplicate package bundles"
This is an issue that will probably mostly affect people using monorepos, and it ended up producing very subtle bugs for me. Most of the time, this probably won't result in errors. In my case, the issue resulted in angular's `TestBed.configureTestingModule` inconsistently overriding providers and imports.

A simple example in a monorepo:

[code]

`packageA` and `packageB` both directly depend on `

[2017-12-22 22:41] cherrydev opened #229 "Typo in resolver.ts"
resolver.ts has the following section in it:
[code]

If the first try of browserResolve fails, but the second try succeeds, `filename` will be undefined. My guess is that if the second try succeeds, the intention is to use the resolved `filename`.

[2017-12-22 22:44] #229 closed

[2017-12-22 22:45] cherrydev commented on #229
Oops, I introduced this when I was working on another issue. Never mind!

[2018-01-03 20:47] lanthaler opened #230 "3.0.9 broke NodeJS 5 support, was working fine in 3.0.8"
The 3.0.9 release broke NodeJS 5 support.

[code]

See this TravisCI run e.g. https://travis-ci.org/HydraCG/Heracles.ts/jobs/324737590

Here's is a run of the same tests with karma-typescript fixed to 3.0.8: https://travis-ci.org/HydraCG/Heracles.ts/jobs/324741313

[2018-01-03 21:07] ktalebian opened #231 "Compilation context has two separate typings, leading to failure"
`@types/react-router` incorrectly has `react` defined in its dependencies with the version of `*`. As a result, karma-typescript testing fails with error

[code]

and alike. I had this problem with webpack as well, but adding

[code]

to my `tsconfig.json` fixed the problem. It seems however, this property is not respected in the karma. How do I fix this problem?

[2018-01-04 23:01] baristaGeek opened #232 "NullInjectorError: No provider for StateObservable!"
Hi there, I'm just trying to setup the testing for this component. I've done it already with tons of other components but something weird just seems to be happening with this one.

[code]

[2018-01-04 23:48] #232 closed

[2018-01-07 10:16] chaosmail opened #233 "Install fails via Yarn due to unresolved dependency"
Steps to reproduce:

[code]

[2018-01-08 04:43] erikbarke commented on #223
@aktraore, did the fix in #225 solve your problem?

[2018-01-08 04:45] erikbarke commented on #226
Fixed in #227, closing.

[2018-01-08 04:45] #226 closed

[2018-01-08 04:47] erikbarke commented on #224
@mulmulovich, were you able to solve your issues?

[2018-01-08 04:47] #224 closed

[2018-01-08 05:26] erikbarke commented on #233
This seems to be part of a bigger yarn/npm/pinkie issue: https://github.com/floatdrop/pinkie/issues/18!

[2018-01-08 05:26] #233 closed

[2018-01-08 05:44] erikbarke commented on #228
Always using `fs.realpathSync` on the resolved filenames doesn't seem to affect bundling times much and all integration tests have passed, does the PR #234 solve your problem?

[2018-01-08 20:50] erikbarke commented on #230
Ok, this happens because the package `pad` was upgraded to ^2.0.0, it uses CoffeScript 2 which outputs ES6 syntax which [isn't fully available in Node.js 5.12](http://node.green/).

The breaking commit is here: https://github.com/adaltas/node-pad/commit/134087510827b75d933a3311bac2d651b54d4cd4#diff-6d186b954a58d5bb740f73d84fe39073

It works if I downgrade manually to `pad@1.2.1` 😞

[2018-01-08 20:54] erikbarke commented on #231
Do you have a repo I could take look at?

[2018-01-08 22:40] ktalebian commented on #231
@erikbarke require `@types/react` < 16, and `@types/react-router` `v3.0.4`.

Because react-router is depending on React `*`, then it will try to use v16, but you are referencing v15 for the rest of your application.

[2018-01-09 06:02] erikbarke commented on #231
I installed this with npm:

[code]

And then I modified `hello.component.ts` in the examples/typescript-latest project:

[code]

This runs without any errors if I run `npm test` so I'm having a hard time reproducing this issue...

[2018-01-09 11:38] parky128 opened #235 "Process does not seem to exit after tests run"
Hi,

I have just started using this plugin and have got a sample test running with the coverage report showing.

I have noticed after the test run is complete, the process does not seem to exit on my command line and so  I have to Ctrl+C to quit out.

I am wondering if this something to do with how I have my scripts configured in my package.json?

[code]

I am running `npm test` in my terminal.

[2018-01-09 12:08] parky128 opened #236 "Coverage being generated for sources that are not being tested"
I have just started using this plugin for an angularJS application and have so far setup a very simple test for a service I have:

[code]

This is just a dummy test as you can probably tell, but I wanted to prove I could call a method on my service and see it picked up in my coverage report.

I do indeed see the file covered by the output html report, but I also see my other TS sources showing wit

[2018-01-09 12:10] parky128 commented on #235
I was stupid, I had `singleRun:false` in my karma config file! Set this to true and it exits as expected

[2018-01-09 12:10] #235 closed

[2018-01-09 12:26] parky128 opened #237 "Unable to serve static karma and json assets required by my application"
I have just started using this plugin and am having trouble with my asset and html template files being served.

I am seeing 404 errors when such files are being attempted to serve during test runs, here is my karma config:

[code]

In my console output I am seeing:

[code]

The unexpected token error for my json is confusing, the opening lines for this file are:

[code]

which is valid json and l

[2018-01-09 19:40] erikbarke commented on #236
This is expected behavior, but you can exclude files from the coverage report by using the setting `karmaTypescriptConfig.coverageOptions.exclude`, as suggested in #116!

[2018-01-09 19:52] erikbarke commented on #237
I think the problem here is the `base` prefix used by Karma when serving files: https://stackoverflow.com/questions/30575422/why-do-i-get-a-404-message-from-karma-webserver. You could also take a look at this issue: https://github.com/monounity/karma-typescript-angular2-transform/issues/4.

[2018-01-09 21:38] parky128 commented on #236
Thanks @erikbarke

I will take a look at this further 👍

[2018-01-09 22:08] parky128 commented on #237
Thanks @erikbarke

The proxy config option in Karma sounds like what I may need here, I'm not having any success using it however.

As an example, I'm trying to get past the 404 returned when trying to get my `/core/login/login.html` so using:

[code]
I have made sure to serve my html files in my files config of my karma config file:
`{pattern: 'app/**/*.html', served: true}`

Do you have any idea

[2018-01-09 22:39] parky128 commented on #237
I figured it out, had my proxy not quite right, all working ok now. Thanks for your help!

[2018-01-09 22:39] #237 closed

[2018-01-09 23:00] cherrydev commented on #228
Yes, this is exactly what my proof-of-concept code does. If this really doesn't cause any regressions for anybody, it will work for me.

[2018-01-10 04:52] erikbarke commented on #228
Fixed in #234, closing.

[2018-01-10 04:52] #228 closed

[2018-01-10 20:24] robwalch commented on #233
I was having this problem because of yarn.lock file I created for a project on Saturday during the npm outage.

Removing the yarn.lock file and re-running `yarn install` to recreate it fixed the issue (pinkie-2.0.4 is installed).

[2018-01-15 05:09] erikbarke commented on #236
Closing this, feel free to reopen if you need!

[2018-01-15 05:09] #236 closed

[2018-01-15 05:09] #231 closed

[2018-01-15 05:10] #230 closed

[2018-01-20 23:19] niels1voo opened #240 "source-map dependency >=0.5.6 --> 0.7.0 breaks"
![image](https://user-images.githubusercontent.com/223998/35188925-fcf04352-fe0d-11e7-915d-c92bb453ca30.png)

![image](https://user-images.githubusercontent.com/223998/35188928-283ac2ee-fe0e-11e7-9275-3cc73960678d.png)

source-map 0.7.0 was released yesterday, which has a breaking change for k-t as far as i can tell.  can you pin the version at 0.6.1 until you have time to fix?

[2018-01-20 23:31] niels1voo commented on #240
this may primarily be a remap-instanbul problem
https://github.com/SitePen/remap-istanbul/issues/160

[2018-01-24 11:54] rmja opened #241 "Build fails when bundlerOptions.sourceMap is true for files in node_modules"
Repro: https://github.com/rmja/karma-error
Run `npm run test`

It executes correctly when `bundlerOptions.sourceMap = false`, but raises the following error when `bundlerOptions.sourceMap = true`:

![image](https://user-images.githubusercontent.com/2112306/35330882-7f420e04-0105-11e8-9c78-41cbe3abf3e2.png)

The `Reflect.ts` file clearly does not exist.